In [46]:
import pandas as pd
import numpy as np
import sqlite3

# Reconnect to the database
conn = sqlite3.connect('./ipl_database.db')
# Query the database
df_ball = pd.read_sql_query('SELECT * FROM ipl_ball_by_ball;', conn)

# Display the first few rows of the table
print(df_ball)

# Close the connection
conn.close()

             ID  innings  overs  ballnumber       batter          bowler
0       1312200        1      0           1  YBK Jaiswal  Mohammed Shami  \
1       1312200        1      0           2  YBK Jaiswal  Mohammed Shami
2       1312200        1      0           3   JC Buttler  Mohammed Shami
3       1312200        1      0           4  YBK Jaiswal  Mohammed Shami
4       1312200        1      0           5  YBK Jaiswal  Mohammed Shami
...         ...      ...    ...         ...          ...             ...
225949   335982        2     14           5      P Kumar        I Sharma
225950   335982        2     14           6     SB Joshi        I Sharma
225951   335982        2     14           7      P Kumar        I Sharma
225952   335982        2     15           1     SB Joshi       LR Shukla
225953   335982        2     15           2     SB Joshi       LR Shukla

        non-striker extra_type  batsman_run  extras_run  total_run
0        JC Buttler       None            0           0          0  \
1        JC Buttler    legbyes            0           1          1
2       YBK Jaiswal       None            1           0          1
3        JC Buttler       None            0           0          0
4        JC Buttler       None            0           0          0
...             ...        ...          ...         ...        ...
225949     SB Joshi    legbyes            0           1          1
225950      P Kumar       None            1           0          1
225951     SB Joshi       None            0           0          0
225952      P Kumar      wides            0           1          1
225953      P Kumar       None            0           0          0

        non_boundary  isWicketDelivery player_out    kind fielders_involved
0                  0                 0       None    None              None  \
1                  0                 0       None    None              None
2                  0                 0       None    None              None
3                  0                 0       None    None              None
4                  0                 0       None    None              None
...              ...               ...        ...     ...               ...
225949             0                 0       None    None              None
225950             0                 0       None    None              None
225951             0                 0       None    None              None
225952             0                 0       None    None              None
225953             0                 1   SB Joshi  caught       BB McCullum

                        BattingTeam
0                  Rajasthan Royals
1                  Rajasthan Royals
2                  Rajasthan Royals
3                  Rajasthan Royals
4                  Rajasthan Royals
...                             ...
225949  Royal Challengers Bangalore
225950  Royal Challengers Bangalore
225951  Royal Challengers Bangalore
225952  Royal Challengers Bangalore
225953  Royal Challengers Bangalore

[225954 rows x 17 columns]

In [47]:
unique_batters = df_ball['batter'].unique().tolist()

print(unique_batters)

['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel', 'JR Hazlewood', 'Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'PK Garg', 'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar', 'Umran Malik', 'JM Bairstow', 'S Dhawan', 'M Shahrukh Khan', 'MA Agarwal', 'LS Livingstone', 'JM Sharma', 'PN Mankad', 'PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'Ishan Kishan', 'RG Sharma', 'D Brevis', 'Tilak Varma', 'TH David', 'Ramandeep Singh', 'DR Sams', 'RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'Simarjeet Singh', 'MJ Santner', 'R Tewatia', 'Rashid Khan', 'VR Iyer', 'N Rana', 'A Tomar', 'SS Iyer', 'SW Billings', 'AD Russell', 'RK Singh', 'SP Narine', 'UT Yadav', 'KS Williamson', 'T Stubbs', 'R Sanjay Yadav', 'JJ Bumrah', 'Lalit Yadav', 'PBB Rajapaksa', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh', 'JDS Neesham', 'A Badoni', 'JO Holder', 'Mohsin Khan', 'Avesh Khan', 'S Dube', 'AM Rahane', 'Shashank Singh', 'M Jansen', 'Mohammed Siraj', 'RV Uthappa', 'DJ Bravo', 'M Theekshana', 'Mukesh Choudhary', 'HR Shokeen', 'HE van der Dussen', 'KS Bharat', 'KS Sharma', 'SP Jackson', 'PJ Cummins', 'TG Southee', 'KA Pollard', 'M Ashwin', 'K Kartikeya', 'RP Meredith', 'RV Patel', 'A Nortje', 'KK Ahmed', 'Kartik Tyagi', 'Fazalhaq Farooqi', 'B Indrajith', 'AJ Finch', 'AS Roy', 'Shivam Mavi', 'Harshit Rana', 'SA Yadav', 'B Sai Sudharsan', 'Mandeep Singh', 'SA Abbott', 'S Gopal', 'RA Jadeja', 'D Pretorius', 'PJ Sangwan', 'LH Ferguson', 'AS Joseph', 'KK Nair', 'DJ Mitchell', 'A Manohar', 'M Prasidh Krishna', 'SS Prabhudessai', 'MK Pandey', 'JD Unadkat', 'Anuj Rawat', 'Yash Dayal', 'NT Ellis', 'VG Arora', 'Ravi Bishnoi', 'CV Varun', 'V Shankar', 'P Simran Singh', 'OF Smith', 'FA Allen', 'TS Mills', 'Aman Hakim Khan', 'YS Chahal', 'KR Sen', 'Akash Deep', 'K Gowtham', 'Rasikh Salam', 'CJ Jordan', 'DJ Willey', 'SE Rutherford', 'Abdul Samad', 'TL Seifert', 'Mustafizur Rahman', 'Navdeep Saini', 'Anmolpreet Singh', 'RA Bawa', 'NM Coulter-Nile', 'EJG Morgan', 'Shakib Al Hasan', 'AB de Villiers', 'DT Christian', 'TK Curran', 'SK Raina', 'SS Tiwary', 'J Yadav', 'SPD Smith', 'CH Morris', 'C Sakariya', 'JJ Roy', 'S Kaul', 'KA Jamieson', 'AF Milne', 'CH Gayle', 'KM Jadhav', 'GD Phillips', 'Sandeep Sharma', 'SM Curran', 'DL Chahar', 'T Shamsi', 'GHS Garton', 'MC Henriques', 'K Yadav', 'PP Chawla', 'Mohammad Nabi', 'Sachin Baby', 'DJ Malan', 'Mohammed Shami', 'Virat Singh', 'KL Nagarkoti', 'Harbhajan Singh', 'Mujeeb Ur Rahman', 'JA Richardson', 'CR Woakes', 'S Nadeem', 'BA Stokes', 'CA Lynn', 'SP Goswami', 'Gurkeerat Singh', 'AT Carey', 'JC Archer', 'SS Cottrell', 'T Banton', 'M Vijay', 'SR Watson', 'P Dubey', 'JR Philippe', 'T Natarajan', 'I Udana', 'VR Aaron', 'TU Deshpande', 'Imran Tahir', 'AS Rajpoot', 'DW Steyn', 'NS Naik', 'AJ Tye', 'JL Pattinson', 'DS Kulkarni', 'MJ McClenaghan', 'C Munro', 'KMA Paul', 'A Mishra', 'I Sharma', 'MJ Guptill', 'Basil Thampi', 'YK Pathan', 'PA Patel', 'C de Grandhomme', 'STR Binny', 'IS Sodhi', 'CA Ingram', 'H Klaasen', 'P Negi', 'BB Sran', 'AJ Turner', 'DR Shorey', 'CR Brathwaite', 'AD Nath', 'GC Viljoen', 'Y Prithvi Raj', 'KC Cariappa', 'BCJ Cutting', 'RK Bhui', 'JL Denly', 'SD Lad', 'HF Gurney', 'Yuvraj Singh', 'MM Sharma', 'GH Vihari', 'S Lamichhane', 'P Ray Barman', 'M Markande', 'JPR Scantlebury-Searles', 'MK Tiwary', 'AD Hales', 'Anureet Singh', 'DJM Short', 'P Chopra', 'JP Duminy', 'NV Ojha', 'BB McCullum', 'LE Plunkett', 'MG Johnson', 'CJ Anderson', 'G Gambhir', 'B Laughlin', 'A Dananjaya', 'B Stanlake', 'R Vinay Kumar', 'MA Wood', 'LMP Simmons', 'KV Sharma', 'IR Jaggi', 'Bipul Sharma', 'SL Malinga', 'Vishnu Vinod', 'TM Head', 'MN Samuels', 'Z Khan', 'SE Marsh', 'Swapnil Singh', 'DR Smith', 'JP Faulkner', 'Ankit Soni', 'P Kumar', 'MM Patel', 'HM Amla', 'S Aravind', 'S Badree', 'A Choudhary', 'IK Pathan', 'AR Bawne', 'DM Bravo', 'AP Tare', 'AD Mathews', 'Ankit Sharma', 'R Bhatia', 'A Zampa', 'AB Dinda', 'Iqbal Abdulla', 'ER Dwivedi', 'R Sathish', 'SB Jakati', 'F Behardien', 'KJ Abbott', 'UT Khawaja', 'GJ Bailey', 'NLTC Perera', 'M Morkel', 'PV Tambe', 'S Kaushik', 'UBT Chand', 'A Nehra', 'PSP Handscomb', 'A Ashish Reddy', 'Parvez Rasool', 'JA Morkel', 'KP Pietersen', 'KW Richardson', 'P Sahu', 'D Wiese', 'MEK Hussey', 'MA Starc', 'Azhar Mahmood', 'BE Hendricks', 'RS Bopara', 'J Botha', 'GB Hogg', 'Karanveer Singh', 'RN ten Doeschate', 'NJ Maddinson', 'V Sehwag', 'J Theron', 'DJ Muthuswami', 'MS Bisla', 'RR Rossouw', 'AN Ahmed', 'RG More', 'DJG Sammy', 'CM Gautam', 'DJ Hussey', 'PP Ojha', 'BJ Hodge', 'Y Venugopal Rao', 'S Anirudha', 'YV Takawale', 'VH Zol', 'S Rana', 'KK Cooper', 'VS Malik', 'M de Lange', 'Shivam Sharma', 'WD Parnell', 'LRPL Taylor', 'R Shukla', 'DH Yagnik', 'M Manhas', 'LR Shukla', 'L Balaji', 'JH Kallis', 'BR Dunk', 'CA Pujara', 'R Rampaul', 'AM Nayar', 'S Badrinath', 'R Dravid', 'CL White', 'BB Samantray', 'P Dogra', 'LJ Wright', 'RV Gomez', 'DPMD Jayawardene', 'B Chipli', 'BJ Rohrer', 'AC Gilchrist', 'SK Trivedi', 'RE van der Merwe', 'DB Das', 'SMSM Senanayake', 'SR Tendulkar', 'MC Juneja', 'AB Agarkar', 'LA Pomersbach', 'A Mithun', 'M Kartik', 'Harmeet Singh', 'P Awana', 'UA Birla', 'M Rawat', 'K Upadhyay', 'MS Gony', 'KC Sangakkara', 'R McLaren', 'PA Reddy', 'BMAJ Mendis', 'OA Shah', 'TL Suman', 'BAW Mendis', 'R Sharma', 'S Narwal', 'B Lee', 'A Mukund', 'TM Dilshan', 'KB Arun Karthik', 'J Syed Mohammad', 'X Thalaivan Sargunam', 'AG Murtaza', 'IC Pandey', 'A Chandila', 'S Sreesanth', 'SW Tait', 'PC Valthaty', 'AD Mascarenhas', 'RT Ponting', 'AB McDonald', 'RJ Harris', 'DB Ravi Teja', 'MDKJ Perera', 'AL Menaria', 'Sunny Gupta', 'JEC Franklin', 'RP Singh', 'M Muralitharan', 'P Parameswaran', 'JD Ryder', 'MJ Clarke', 'SC Ganguly', 'AP Majumdar', 'CJ Ferguson', 'Harpreet Singh', 'SD Chitnis', 'N Saini', 'HH Gibbs', 'Y Nagar', 'MD Mishra', 'AC Thomas', 'DJ Harris', 'AA Jhunjhunwala', 'AUK Pathan', 'RJ Peterson', 'AA Chavan', 'V Pratap Singh', 'RE Levi', 'DL Vettori', 'KMDN Kulasekara', 'AC Blizzard', 'DJ Jacobs', 'CJ McKay', 'M Kaif', 'BA Bhatt', 'RR Bhatkal', 'A Singh', 'DAJ Bracewell', 'DE Bollinger', 'Y Gnaneswara Rao', 'JJ van der Wath', 'CK Langeveldt', 'S Sohal', 'FY Fazal', 'PR Shah', 'JDP Oram', 'SK Warne', 'ND Doshi', 'S Sriram', 'JR Hopes', 'TR Birt', 'MJ Lumb', 'A Symonds', 'MV Boucher', 'AS Raut', 'SJ Srivastava', 'M Klinger', 'RR Powar', 'Sunny Singh', 'L Ablish', 'I Malhotra', 'GC Smith', 'SB Wagh', 'NL McCullum', 'B Akhil', 'TD Paine', 'JE Taylor', 'VVS Laxman', 'BJ Haddin', 'Joginder Sharma', 'S Randiv', 'SA Asnodkar', 'AG Paunikar', 'R Ninan', 'NJ Rimmington', 'SB Styris', 'ML Hayden', 'CRD Fernando', 'Anirudh Singh', 'B Sumanth', 'A Kumble', 'WPUJC Vaas', 'PD Collingwood', 'AC Voges', 'Pankaj Singh', 'C Madan', 'KP Appanna', 'ST Jayasuriya', 'AP Dole', 'MF Maharoof', 'AB Barath', 'T Thushara', 'RS Sodhi', 'AA Bilakhia', 'Jaskaran Singh', 'K Goel', 'KAJ Roach', 'S Ladda', 'DP Nannes', 'JM Kemp', 'DR Martyn', 'RS Gavaskar', 'SE Bond', 'A Uniyal', 'S Tyagi', 'YA Abdulla', 'Mohammad Ashraful', 'SM Katich', 'WA Mota', 'RJ Quiney', 'NK Patel', 'T Henderson', 'Yashpal Singh', 'SS Shaikh', 'Mashrafe Mortaza', 'C Nanda', 'Shoaib Ahmed', 'AN Ghosh', 'LA Carseldine', 'MN van Wyk', 'SM Harwood', 'L Ronchi', 'RR Raje', 'W Jaffer', 'D du Preez', 'R Bishnoi', 'TM Srivastava', 'GR Napier', 'FH Edwards', 'SB Bangar', 'A Flintoff', 'T Kohli', 'A Chopra', 'Kamran Khan', 'S Vidyut', 'CK Kapugedera', 'Kamran Akmal', 'Sohail Tanvir', 'Mohammad Asif', 'VY Mahesh', 'GD McGrath', 'AS Yadav', 'Shahid Afridi', 'SP Fleming', 'SM Pollock', 'Salman Butt', 'Umar Gul', 'Misbah-ul-Haq', 'LPC Silva', 'M Ntini', 'VS Yeligati', 'Mohammad Hafeez', 'DJ Thornely', 'H Das', 'DNT Zoysa', 'J Arunkumar', 'DT Patil', 'Abdur Razzak', 'Shoaib Malik', 'Shoaib Akhtar', 'PM Sarvesh Kumar', 'DP Vijaykumar', 'Younis Khan', 'D Salunkhe', 'T Taibu', 'RR Sarwan', 'VRV Singh', 'U Kaul', 'S Chanderpaul', 'D Kalyankrishna', 'MA Khote', 'SB Joshi', 'DS Lehmann', 'AA Noffke']

In [48]:
import sqlite3
import pandas as pd

def get_batting_stats(player_name):
    # Establish a connection to the SQLite database
    conn = sqlite3.connect('./ipl_database.db')

    # Define the SQL query with the corrected column name
    query = f'''
    SELECT
        innings,
        overs,
        SUM(CASE WHEN batter = ? THEN batsman_run ELSE 0 END) AS runs_scored,
        SUM((CASE WHEN isWicketDelivery = 1 AND player_out == ? THEN 1 ELSE 0 END)) AS Dismissals,
        COUNT(CASE WHEN (extra_type IS NULL OR extra_type = 'byes' OR extra_type = 'legbyes' OR extra_type = 'noballs') AND (batter = ?) THEN 1 ELSE NULL END) AS balls_faced
    FROM
        ipl_ball_by_ball
    WHERE
        batter = ? or "non-striker" = ?
    GROUP BY
        innings,
        overs
    ORDER BY
        innings,
        overs;
    '''

    # Execute the query with the player name as a parameter
    df = pd.read_sql_query(query, conn, params=(player_name, player_name, player_name, player_name, player_name))

    # Close the connection
    conn.close()

    return df

# Example usage
player_name = 'AB de Villiers'  # Replace with the actual player name
batter_stats_df = get_batting_stats(player_name)
batter_stats_df

    innings  overs  runs_scored  Dismissals  balls_faced
0         1      0           19           0           10
1         1      1           22           1           23
2         1      2           28           1           38
3         1      3           83           0           76
4         1      4          114           2           72
5         1      5          144           2           92
6         1      6          118           2           95
7         1      7          110           4           97
8         1      8          127           2          105
9         1      9          162           2          120
10        1     10          172           5          134
11        1     11          198           4          142
12        1     12          188           3          140
13        1     13          193           4          136
14        1     14          236           5          132
15        1     15          292           3          145
16        1     16          257           6          123
17        1     17          234           8          100
18        1     18          287           8          104
19        1     19          179           7           69
20        2      0            3           1            7
21        2      1           18           0           16
22        2      2           33           4           37
23        2      3           53           2           46
24        2      4          121           7          103
25        2      5           84           2           86
26        2      6           93           5           95
27        2      7          111           3           99
28        2      8          133           4          113
29        2      9          133           3          106
30        2     10          136           4          103
31        2     11          126           4           99
32        2     12          129           7           91
33        2     13          112           2           77
34        2     14           95           3           75
35        2     15          155           2           82
36        2     16          129           2           77
37        2     17          172           1           70
38        2     18          117           3           49
39        2     19           46           2           19
40        3      0           13           0            4
41        4      0            6           0            4

In [49]:
# Assuming you have a DataFrame named batter_stats_df
# Filter the DataFrame based on innings, overs range, and runs scored
innings_x = 1  # Specify the innings
overs_y = 0  # Specify the starting over
overs_z = 5  # Specify the ending over

filtered_batter_df = batter_stats_df[
    (batter_stats_df['innings'].isin([1, 2])) &  # Filter by innings
    (batter_stats_df['overs'] >= overs_y) &      # Filter by starting over
    (batter_stats_df['overs'] <= overs_z)
]

# Print the filtered DataFrame
filtered_batter_df

    innings  overs  runs_scored  Dismissals  balls_faced
0         1      0           19           0           10
1         1      1           22           1           23
2         1      2           28           1           38
3         1      3           83           0           76
4         1      4          114           2           72
5         1      5          144           2           92
20        2      0            3           1            7
21        2      1           18           0           16
22        2      2           33           4           37
23        2      3           53           2           46
24        2      4          121           7          103
25        2      5           84           2           86

In [50]:
runs_score = filtered_batter_df["runs_scored"].sum()
balls_faced = filtered_batter_df["balls_faced"].sum()
dismissals = filtered_batter_df["Dismissals"].sum()
average = runs_score/dismissals
strike_rate = (runs_score/balls_faced)*100
print(runs_score, balls_faced, dismissals, average, strike_rate)

722 606 22 32.81818181818182 119.14191419141915

In [51]:
def batting_stats_overs(player_name, batter_stats_df , overs_y, overs_z):

    filtered_batter_df = batter_stats_df[
        (batter_stats_df['innings'] == 1) |
        (batter_stats_df['innings'] == 2) &  # Filter by innings
        (batter_stats_df['overs'] >= overs_y) &      # Filter by starting over
        (batter_stats_df['overs'] <= overs_z)
    ]

    runs_score = filtered_batter_df["runs_scored"].sum()
    balls_faced = filtered_batter_df["balls_faced"].sum()
    dismissals = filtered_batter_df["Dismissals"].sum()
    average = runs_score/dismissals
    strike_rate = (runs_score/balls_faced)*100

    return [player_name, runs_score, balls_faced, dismissals, average, strike_rate]

In [52]:
batting_power_play = []
for i in unique_batters:
    df = get_batting_stats(i)
    batting_power_play.append(batting_stats_overs(i, df, 0, 5))

C:\Users\anubr\AppData\Local\Temp\ipykernel_1440\961564431.py:13: RuntimeWarning: divide by zero encountered in scalar divide
  average = runs_score/dismissals
C:\Users\anubr\AppData\Local\Temp\ipykernel_1440\961564431.py:13: RuntimeWarning: invalid value encountered in scalar divide
  average = runs_score/dismissals
C:\Users\anubr\AppData\Local\Temp\ipykernel_1440\961564431.py:14: RuntimeWarning: invalid value encountered in scalar divide
  strike_rate = (runs_score/balls_faced)*100

In [53]:
batting_power_play

[['YBK Jaiswal', 452, 337, 19, 23.789473684210527, 134.1246290801187],
 ['JC Buttler', 2072, 1415, 51, 40.627450980392155, 146.43109540636044],
 ['SV Samson', 2250, 1689, 81, 27.77777777777778, 133.21492007104797],
 ['D Padikkal', 1089, 852, 38, 28.657894736842106, 127.8169014084507],
 ['SO Hetmyer', 547, 384, 19, 28.789473684210527, 142.44791666666669],
 ['R Ashwin', 375, 333, 30, 12.5, 112.61261261261262],
 ['R Parag', 328, 265, 21, 15.619047619047619, 123.77358490566037],
 ['TA Boult', 47, 34, 4, 11.75, 138.23529411764704],
 ['OC McCoy', 8, 5, 1, 8.0, 160.0],
 ['WP Saha', 1933, 1460, 72, 26.84722222222222, 132.39726027397262],
 ['Shubman Gill', 1356, 1085, 43, 31.53488372093023, 124.97695852534562],
 ['MS Wade', 132, 123, 9, 14.666666666666666, 107.31707317073172],
 ['HH Pandya', 1226, 839, 37, 33.13513513513514, 146.12634088200238],
 ['DA Miller', 1073, 826, 43, 24.953488372093023, 129.90314769975785],
 ['V Kohli', 4587, 3623, 127, 36.118110236220474, 126.60778360474745],
 ['F du Plessis', 2542, 1923, 69, 36.84057971014493, 132.18928757150286],
 ['RM Patidar', 344, 239, 7, 49.142857142857146, 143.93305439330544],
 ['GJ Maxwell', 1463, 981, 63, 23.22222222222222, 149.1335372069317],
 ['MK Lomror', 237, 174, 9, 26.333333333333332, 136.20689655172413],
 ['KD Karthik', 2693, 2038, 89, 30.258426966292134, 132.13935230618253],
 ['Shahbaz Ahmed', 117, 99, 7, 16.714285714285715, 118.18181818181819],
 ['PWH de Silva', 9, 23, 4, 2.25, 39.130434782608695],
 ['HV Patel', 120, 97, 12, 10.0, 123.71134020618557],
 ['JR Hazlewood', 4, 13, 0, inf, 30.76923076923077],
 ['Q de Kock', 2234, 1673, 64, 34.90625, 133.5325762104005],
 ['KL Rahul', 2806, 2073, 54, 51.96296296296296, 135.35938253738544],
 ['M Vohra', 895, 699, 39, 22.94871794871795, 128.04005722460658],
 ['DJ Hooda', 747, 532, 34, 21.970588235294116, 140.41353383458645],
 ['MP Stoinis', 651, 502, 29, 22.448275862068964, 129.6812749003984],
 ['E Lewis', 545, 390, 20, 27.25, 139.74358974358972],
 ['KH Pandya', 762, 560, 35, 21.771428571428572, 136.07142857142858],
 ['PVD Chameera', 18, 12, 2, 9.0, 150.0],
 ['PK Garg', 172, 132, 8, 21.5, 130.3030303030303],
 ['Abhishek Sharma', 498, 358, 14, 35.57142857142857, 139.10614525139664],
 ['RA Tripathi', 1264, 905, 43, 29.3953488372093, 139.66850828729284],
 ['AK Markram', 172, 152, 5, 34.4, 113.1578947368421],
 ['N Pooran', 298, 234, 20, 14.9, 127.35042735042734],
 ['Washington Sundar', 149, 144, 11, 13.545454545454545, 103.47222222222223],
 ['R Shepherd', 26, 15, 0, inf, 173.33333333333334],
 ['J Suchith', 10, 8, 1, 10.0, 125.0],
 ['B Kumar', 91, 86, 13, 7.0, 105.8139534883721],
 ['Umran Malik', 0, 1, 0, nan, 0.0],
 ['JM Bairstow', 965, 645, 24, 40.208333333333336, 149.6124031007752],
 ['S Dhawan', 4942, 3905, 141, 35.04964539007092, 126.55569782330345],
 ['M Shahrukh Khan', 196, 172, 11, 17.818181818181817, 113.95348837209302],
 ['MA Agarwal', 1757, 1355, 79, 22.240506329113924, 129.6678966789668],
 ['LS Livingstone', 418, 256, 15, 27.866666666666667, 163.28125],
 ['JM Sharma', 169, 97, 5, 33.8, 174.22680412371133],
 ['PN Mankad', 0, 0, 0, nan, nan],
 ['PP Shaw', 1348, 911, 51, 26.431372549019606, 147.96926454445665],
 ['DA Warner', 4565, 3261, 105, 43.476190476190474, 139.98773382398036],
 ['MR Marsh', 278, 225, 10, 27.8, 123.55555555555556],
 ['RR Pant', 1638, 1107, 45, 36.4, 147.96747967479675],
 ['SN Khan', 396, 254, 10, 39.6, 155.90551181102362],
 ['R Powell', 123, 91, 4, 30.75, 135.16483516483518],
 ['AR Patel', 549, 446, 28, 19.607142857142858, 123.09417040358743],
 ['SN Thakur', 56, 51, 7, 8.0, 109.80392156862746],
 ['Kuldeep Yadav', 31, 37, 4, 7.75, 83.78378378378379],
 ['Ishan Kishan', 1326, 1044, 42, 31.571428571428573, 127.01149425287358],
 ['RG Sharma', 4098, 3109, 138, 29.695652173913043, 131.8108716629141],
 ['D Brevis', 81, 64, 4, 20.25, 126.5625],
 ['Tilak Varma', 144, 122, 4, 36.0, 118.0327868852459],
 ['TH David', 57, 32, 2, 28.5, 178.125],
 ['Ramandeep Singh', 8, 15, 1, 8.0, 53.333333333333336],
 ['DR Sams', 16, 15, 3, 5.333333333333333, 106.66666666666667],
 ['RD Gaikwad', 897, 703, 22, 40.77272727272727, 127.59601706970128],
 ['DP Conway', 220, 151, 5, 44.0, 145.69536423841058],
 ['MM Ali', 713, 475, 28, 25.464285714285715, 150.10526315789474],
 ['N Jagadeesan', 41, 40, 2, 20.5, 102.49999999999999],
 ['AT Rayudu', 2542, 2001, 86, 29.558139534883722, 127.03648175912043],
 ['MS Dhoni', 2949, 2153, 73, 40.397260273972606, 136.97166744078032],
 ['Simarjeet Singh', 5, 6, 1, 5.0, 83.33333333333334],
 ['MJ Santner', 22, 27, 2, 11.0, 81.48148148148148],
 ['R Tewatia', 251, 193, 13, 19.307692307692307, 130.05181347150258],
 ['Rashid Khan', 142, 102, 13, 10.923076923076923, 139.2156862745098],
 ['VR Iyer', 404, 334, 13, 31.076923076923077, 120.95808383233533],
 ['N Rana', 1347, 990, 44, 30.613636363636363, 136.06060606060606],
 ['A Tomar', 4, 8, 1, 4.0, 50.0],
 ['SS Iyer', 1933, 1572, 62, 31.177419354838708, 122.96437659033079],
 ['SW Billings', 316, 258, 16, 19.75, 122.48062015503875],
 ['AD Russell', 1063, 579, 30, 35.43333333333333, 183.5924006908463],
 ['RK Singh', 110, 97, 6, 18.333333333333332, 113.4020618556701],
 ['SP Narine', 872, 520, 53, 16.452830188679247, 167.6923076923077],
 ['UT Yadav', 37, 57, 5, 7.4, 64.91228070175438],
 ['KS Williamson', 1290, 1031, 38, 33.94736842105263, 125.12124151309408],
 ['T Stubbs', 0, 2, 1, 0.0, 0.0],
 ['R Sanjay Yadav', 0, 0, 0, nan, nan],
 ['JJ Bumrah', 22, 23, 1, 22.0, 95.65217391304348],
 ['Lalit Yadav', 76, 91, 4, 19.0, 83.51648351648352],
 ['PBB Rajapaksa', 125, 79, 6, 20.833333333333332, 158.22784810126583],
 ['Harpreet Brar', 102, 91, 2, 51.0, 112.08791208791209],
 ['R Dhawan', 98, 74, 4, 24.5, 132.43243243243242],
 ['RD Chahar', 77, 68, 10, 7.7, 113.23529411764706],
 ['K Rabada', 80, 80, 7, 11.428571428571429, 100.0],
 ['Arshdeep Singh', 21, 27, 3, 7.0, 77.77777777777779],
 ['JDS Neesham', 28, 36, 4, 7.0, 77.77777777777779],
 ['A Badoni', 106, 87, 5, 21.2, 121.83908045977012],
 ['JO Holder', 109, 94, 10, 10.9, 115.95744680851064],
 ['Mohsin Khan', 13, 6, 0, inf, 216.66666666666666],
 ['Avesh Khan', 7, 8, 1, 7.0, 87.5],
 ['S Dube', 426, 321, 16, 26.625, 132.71028037383178],
 ['AM Rahane', 3114, 2592, 104, 29.942307692307693, 120.13888888888889],
 ['Shashank Singh', 25, 6, 0, inf, 416.6666666666667],
 ['M Jansen', 8, 8, 2, 4.0, 100.0],
 ['Mohammed Siraj', 26, 37, 4, 6.5, 70.27027027027027],
 ['RV Uthappa', 3268, 2624, 117, 27.931623931623932, 124.54268292682926],
 ['DJ Bravo', 947, 709, 39, 24.28205128205128, 133.56840620592382],
 ['M Theekshana', 0, 3, 1, 0.0, 0.0],
 ['Mukesh Choudhary', 4, 4, 1, 4.0, 100.0],
 ['HR Shokeen', 26, 30, 1, 26.0, 86.66666666666667],
 ['HE van der Dussen', 16, 14, 1, 16.0, 114.28571428571428],
 ['KS Bharat', 96, 89, 5, 19.2, 107.86516853932584],
 ['KS Sharma', 4, 4, 1, 4.0, 100.0],
 ['SP Jackson', 22, 24, 4, 5.5, 91.66666666666666],
 ['PJ Cummins', 157, 136, 8, 19.625, 115.44117647058823],
 ['TG Southee', 81, 65, 7, 11.571428571428571, 124.61538461538461],
 ['KA Pollard', 1890, 1323, 68, 27.794117647058822, 142.85714285714286],
 ['M Ashwin', 21, 32, 5, 4.2, 65.625],
 ['K Kartikeya', 0, 0, 0, nan, nan],
 ['RP Meredith', 0, 0, 0, nan, nan],
 ['RV Patel', 7, 7, 0, inf, 100.0],
 ['A Nortje', 3, 1, 0, inf, 300.0],
 ['KK Ahmed', 0, 0, 0, nan, nan],
 ['Kartik Tyagi', 2, 4, 1, 2.0, 50.0],
 ['Fazalhaq Farooqi', 0, 0, 0, nan, nan],
 ['B Indrajith', 21, 30, 3, 7.0, 70.0],
 ['AJ Finch', 1572, 1277, 64, 24.5625, 123.1010180109632],
 ['AS Roy', 0, 0, 0, nan, nan],
 ['Shivam Mavi', 12, 16, 3, 4.0, 75.0],
 ['Harshit Rana', 0, 1, 0, nan, 0.0],
 ['SA Yadav', 1831, 1326, 56, 32.69642857142857, 138.0844645550528],
 ['B Sai Sudharsan', 88, 69, 1, 88.0, 127.53623188405795],
 ['Mandeep Singh', 1209, 1007, 60, 20.15, 120.05958291956307],
 ['SA Abbott', 14, 9, 1, 14.0, 155.55555555555557],
 ['S Gopal', 94, 92, 7, 13.428571428571429, 102.17391304347827],
 ['RA Jadeja', 1419, 1109, 48, 29.5625, 127.95311091073039],
 ['D Pretorius', 0, 1, 1, 0.0, 0.0],
 ['PJ Sangwan', 14, 22, 4, 3.5, 63.63636363636363],
 ['LH Ferguson', 49, 34, 2, 24.5, 144.11764705882354],
 ['AS Joseph', 5, 6, 0, inf, 83.33333333333334],
 ['KK Nair', 1075, 846, 44, 24.431818181818183, 127.06855791962175],
 ['DJ Mitchell', 33, 44, 2, 16.5, 75.0],
 ['A Manohar', 93, 67, 5, 18.6, 138.80597014925374],
 ['M Prasidh Krishna', 2, 8, 2, 1.0, 25.0],
 ['SS Prabhudessai', 31, 34, 3, 10.333333333333334, 91.17647058823529],
 ['MK Pandey', 2431, 1975, 73, 33.3013698630137, 123.08860759493672],
 ['JD Unadkat', 69, 59, 4, 17.25, 116.94915254237289],
 ['Anuj Rawat', 79, 87, 7, 11.285714285714286, 90.80459770114942],
 ['Yash Dayal', 0, 1, 1, 0.0, 0.0],
 ['NT Ellis', 18, 18, 2, 9.0, 100.0],
 ['VG Arora', 5, 13, 2, 2.5, 38.46153846153847],
 ['Ravi Bishnoi', 1, 4, 1, 1.0, 25.0],
 ['CV Varun', 13, 21, 2, 6.5, 61.904761904761905],
 ['V Shankar', 380, 304, 15, 25.333333333333332, 125.0],
 ['P Simran Singh', 44, 42, 4, 11.0, 104.76190476190477],
 ['OF Smith', 26, 36, 3, 8.666666666666666, 72.22222222222221],
 ['FA Allen', 6, 11, 1, 6.0, 54.54545454545454],
 ['TS Mills', 0, 3, 1, 0.0, 0.0],
 ['Aman Hakim Khan', 5, 3, 1, 5.0, 166.66666666666669],
 ['YS Chahal', 9, 22, 2, 4.5, 40.909090909090914],
 ['KR Sen', 0, 0, 0, nan, nan],
 ['Akash Deep', 0, 0, 0, nan, nan],
 ['K Gowtham', 50, 36, 8, 6.25, 138.88888888888889],
 ['Rasikh Salam', 0, 0, 0, nan, nan],
 ['CJ Jordan', 49, 42, 4, 12.25, 116.66666666666667],
 ['DJ Willey', 6, 11, 0, inf, 54.54545454545454],
 ['SE Rutherford', 42, 37, 1, 42.0, 113.51351351351352],
 ['Abdul Samad', 100, 76, 5, 20.0, 131.57894736842107],
 ['TL Seifert', 26, 23, 3, 8.666666666666666, 113.04347826086956],
 ['Mustafizur Rahman', 8, 7, 0, inf, 114.28571428571428],
 ['Navdeep Saini', 13, 14, 2, 6.5, 92.85714285714286],
 ['Anmolpreet Singh', 29, 27, 3, 9.666666666666666, 107.40740740740742],
 ['RA Bawa', 11, 13, 1, 11.0, 84.61538461538461],
 ['NM Coulter-Nile', 62, 60, 8, 7.75, 103.33333333333334],
 ['EJG Morgan', 838, 673, 38, 22.05263157894737, 124.51708766716196],
 ['Shakib Al Hasan', 475, 389, 23, 20.652173913043477, 122.10796915167094],
 ['AB de Villiers', 3475, 2248, 85, 40.88235294117647, 154.58185053380782],
 ['DT Christian', 328, 284, 22, 14.909090909090908, 115.49295774647888],
 ['TK Curran', 36, 37, 3, 12.0, 97.2972972972973],
 ['SK Raina', 3993, 2895, 122, 32.72950819672131, 137.92746113989637],
 ['SS Tiwary', 891, 699, 30, 29.7, 127.46781115879828],
 ['J Yadav', 40, 36, 4, 10.0, 111.11111111111111],
 ['SPD Smith', 1445, 1094, 40, 36.125, 132.0840950639854],
 ['CH Morris', 300, 196, 16, 18.75, 153.0612244897959],
 ['C Sakariya', 15, 20, 4, 3.75, 75.0],
 ['JJ Roy', 246, 200, 10, 24.6, 123.0],
 ['S Kaul', 10, 15, 2, 5.0, 66.66666666666666],
 ['KA Jamieson', 29, 27, 2, 14.5, 107.40740740740742],
 ['AF Milne', 1, 2, 0, inf, 50.0],
 ['CH Gayle', 3979, 2684, 101, 39.396039603960396, 148.2488822652757],
 ['KM Jadhav', 651, 503, 29, 22.448275862068964, 129.4234592445328],
 ['GD Phillips', 4, 20, 1, 4.0, 20.0],
 ['Sandeep Sharma', 4, 11, 2, 2.0, 36.36363636363637],
 ['SM Curran', 236, 161, 10, 23.6, 146.58385093167703],
 ['DL Chahar', 2, 7, 1, 2.0, 28.57142857142857],
 ['T Shamsi', 0, 0, 0, nan, nan],
 ['GHS Garton', 0, 1, 1, 0.0, 0.0],
 ['MC Henriques', 808, 625, 27, 29.925925925925927, 129.28],
 ['K Yadav', 0, 4, 0, nan, 0.0],
 ['PP Chawla', 332, 307, 28, 11.857142857142858, 108.14332247557003],
 ['Mohammad Nabi', 87, 56, 7, 12.428571428571429, 155.35714285714286],
 ['Sachin Baby', 93, 78, 5, 18.6, 119.23076923076923],
 ['DJ Malan', 26, 26, 1, 26.0, 100.0],
 ['Mohammed Shami', 20, 34, 5, 4.0, 58.82352941176471],
 ['Virat Singh', 0, 2, 0, nan, 0.0],
 ['KL Nagarkoti', 15, 21, 2, 7.5, 71.42857142857143],
 ['Harbhajan Singh', 497, 337, 26, 19.115384615384617, 147.47774480712167],
 ['Mujeeb Ur Rahman', 0, 3, 1, 0.0, 0.0],
 ['JA Richardson', 15, 24, 2, 7.5, 62.5],
 ['CR Woakes', 49, 49, 4, 12.25, 100.0],
 ['S Nadeem', 9, 29, 5, 1.8, 31.03448275862069],
 ['BA Stokes', 529, 416, 22, 24.045454545454547, 127.16346153846155],
 ['CA Lynn', 1049, 732, 29, 36.172413793103445, 143.30601092896177],
 ['SP Goswami', 278, 272, 17, 16.352941176470587, 102.20588235294117],
 ['Gurkeerat Singh', 287, 236, 15, 19.133333333333333, 121.61016949152543],
 ['AT Carey', 28, 22, 1, 28.0, 127.27272727272727],
 ['JC Archer', 80, 51, 5, 16.0, 156.86274509803923],
 ['SS Cottrell', 0, 0, 0, nan, nan],
 ['T Banton', 18, 20, 2, 9.0, 90.0],
 ['M Vijay', 2176, 1788, 78, 27.897435897435898, 121.70022371364652],
 ['SR Watson', 2461, 1934, 83, 29.650602409638555, 127.24922440537745],
 ['P Dubey', 7, 13, 0, inf, 53.84615384615385],
 ['JR Philippe', 78, 77, 4, 19.5, 101.29870129870129],
 ['T Natarajan', 0, 0, 0, nan, nan],
 ['I Udana', 14, 8, 2, 7.0, 175.0],
 ['VR Aaron', 25, 36, 3, 8.333333333333334, 69.44444444444444],
 ['TU Deshpande', 0, 0, 0, nan, nan],
 ['Imran Tahir', 20, 18, 1, 20.0, 111.11111111111111],
 ['AS Rajpoot', 7, 16, 3, 2.3333333333333335, 43.75],
 ['DW Steyn', 91, 68, 10, 9.1, 133.8235294117647],
 ['NS Naik', 29, 44, 2, 14.5, 65.9090909090909],
 ['AJ Tye', 38, 39, 5, 7.6, 97.43589743589743],
 ['JL Pattinson', 15, 13, 1, 15.0, 115.38461538461537],
 ['DS Kulkarni', 25, 23, 5, 5.0, 108.69565217391303],
 ['MJ McClenaghan', 22, 26, 5, 4.4, 84.61538461538461],
 ['C Munro', 158, 116, 9, 17.555555555555557, 136.20689655172413],
 ['KMA Paul', 13, 20, 4, 3.25, 65.0],
 ['A Mishra', 145, 162, 17, 8.529411764705882, 89.50617283950618],
 ['I Sharma', 31, 29, 4, 7.75, 106.89655172413792],
 ['MJ Guptill', 254, 187, 12, 21.166666666666668, 135.8288770053476],
 ['Basil Thampi', 21, 24, 1, 21.0, 87.5],
 ['YK Pathan', 1543, 1153, 60, 25.716666666666665, 133.82480485689504],
 ['PA Patel', 2401, 1967, 103, 23.310679611650485, 122.06405693950177],
 ['C de Grandhomme', 134, 80, 9, 14.88888888888889, 167.5],
 ['STR Binny', 434, 329, 25, 17.36, 131.91489361702128],
 ['IS Sodhi', 7, 17, 2, 3.5, 41.17647058823529],
 ['CA Ingram', 85, 73, 5, 17.0, 116.43835616438356],
 ['H Klaasen', 45, 35, 3, 15.0, 128.57142857142858],
 ['P Negi', 246, 185, 15, 16.4, 132.97297297297297],
 ['BB Sran', 2, 3, 0, inf, 66.66666666666666],
 ['AJ Turner', 0, 1, 1, 0.0, 0.0],
 ['DR Shorey', 0, 0, 0, nan, nan],
 ['CR Brathwaite', 147, 83, 9, 16.333333333333332, 177.10843373493975],
 ['AD Nath', 67, 70, 6, 11.166666666666666, 95.71428571428572],
 ['GC Viljoen', 3, 6, 1, 3.0, 50.0],
 ['Y Prithvi Raj', 0, 1, 0, nan, 0.0],
 ['KC Cariappa', 10, 6, 1, 10.0, 166.66666666666669],
 ['BCJ Cutting', 145, 83, 7, 20.714285714285715, 174.6987951807229],
 ['RK Bhui', 0, 5, 1, 0.0, 0.0],
 ['JL Denly', 0, 1, 1, 0.0, 0.0],
 ['SD Lad', 15, 13, 1, 15.0, 115.38461538461537],
 ['HF Gurney', 1, 5, 0, inf, 20.0],
 ['Yuvraj Singh', 1642, 1210, 68, 24.147058823529413, 135.70247933884298],
 ['MM Sharma', 53, 58, 10, 5.3, 91.37931034482759],
 ['GH Vihari', 131, 158, 10, 13.1, 82.91139240506328],
 ['S Lamichhane', 0, 0, 0, nan, nan],
 ['P Ray Barman', 0, 0, 0, nan, nan],
 ['M Markande', 23, 17, 1, 23.0, 135.29411764705884],
 ['JPR Scantlebury-Searles', 8, 6, 1, 8.0, 133.33333333333331],
 ['MK Tiwary', 1053, 883, 33, 31.90909090909091, 119.25254813137033],
 ['AD Hales', 139, 102, 4, 34.75, 136.27450980392157],
 ['Anureet Singh', 11, 8, 0, inf, 137.5],
 ['DJM Short', 82, 86, 6, 13.666666666666666, 95.34883720930233],
 ['P Chopra', 0, 0, 0, nan, nan],
 ['JP Duminy', 1453, 1150, 29, 50.10344827586207, 126.34782608695652],
 ['NV Ojha', 1102, 960, 55, 20.036363636363635, 114.79166666666667],
 ['BB McCullum', 2408, 1808, 84, 28.666666666666668, 133.1858407079646],
 ['LE Plunkett', 1, 2, 0, inf, 50.0],
 ['MG Johnson', 100, 102, 7, 14.285714285714286, 98.0392156862745],
 ['CJ Anderson', 338, 284, 15, 22.533333333333335, 119.01408450704226],
 ['G Gambhir', 3043, 2466, 101, 30.128712871287128, 123.39821573398216],
 ['B Laughlin', 1, 3, 0, inf, 33.33333333333333],
 ['A Dananjaya', 4, 5, 0, inf, 80.0],
 ['B Stanlake', 0, 0, 0, nan, nan],
 ['R Vinay Kumar', 152, 118, 15, 10.133333333333333, 128.81355932203388],
 ['MA Wood', 0, 0, 0, nan, nan],
 ['LMP Simmons', 885, 713, 23, 38.47826086956522, 124.12342215988781],
 ['KV Sharma', 128, 121, 12, 10.666666666666666, 105.78512396694215],
 ['IR Jaggi', 76, 97, 5, 15.2, 78.35051546391753],
 ['Bipul Sharma', 68, 50, 4, 17.0, 136.0],
 ['SL Malinga', 18, 26, 6, 3.0, 69.23076923076923],
 ['Vishnu Vinod', 19, 26, 3, 6.333333333333333, 73.07692307692307],
 ['TM Head', 171, 119, 6, 28.5, 143.69747899159663],
 ['MN Samuels', 116, 107, 6, 19.333333333333332, 108.41121495327101],
 ['Z Khan', 61, 59, 5, 12.2, 103.38983050847457],
 ['SE Marsh', 1746, 1390, 46, 37.95652173913044, 125.6115107913669],
 ['Swapnil Singh', 12, 19, 2, 6.0, 63.1578947368421],
 ['DR Smith', 1819, 1405, 59, 30.83050847457627, 129.4661921708185],
 ['JP Faulkner', 238, 198, 15, 15.866666666666667, 120.2020202020202],
 ['Ankit Soni', 7, 9, 2, 3.5, 77.77777777777779],
 ['P Kumar', 194, 184, 24, 8.083333333333334, 105.43478260869566],
 ['MM Patel', 10, 18, 2, 5.0, 55.55555555555556],
 ['HM Amla', 535, 370, 12, 44.583333333333336, 144.5945945945946],
 ['S Aravind', 9, 17, 2, 4.5, 52.94117647058824],
 ['S Badree', 3, 3, 1, 3.0, 100.0],
 ['A Choudhary', 15, 12, 0, inf, 125.0],
 ['IK Pathan', 574, 503, 26, 22.076923076923077, 114.11530815109343],
 ['AR Bawne', 12, 12, 0, inf, 100.0],
 ['DM Bravo', 0, 0, 0, nan, nan],
 ['AP Tare', 298, 248, 20, 14.9, 120.16129032258065],
 ['AD Mathews', 411, 313, 17, 24.176470588235293, 131.30990415335464],
 ['Ankit Sharma', 58, 47, 4, 14.5, 123.40425531914893],
 ['R Bhatia', 168, 128, 13, 12.923076923076923, 131.25],
 ['A Zampa', 0, 0, 0, nan, nan],
 ['AB Dinda', 7, 22, 5, 1.4, 31.818181818181817],
 ['Iqbal Abdulla', 9, 14, 0, inf, 64.28571428571429],
 ['ER Dwivedi', 24, 14, 2, 12.0, 171.42857142857142],
 ['R Sathish', 117, 109, 10, 11.7, 107.33944954128441],
 ['SB Jakati', 28, 29, 1, 28.0, 96.55172413793103],
 ['F Behardien', 5, 5, 1, 5.0, 100.0],
 ['KJ Abbott', 13, 7, 0, inf, 185.71428571428572],
 ['UT Khawaja', 107, 75, 4, 26.75, 142.66666666666669],
 ['GJ Bailey', 467, 369, 16, 29.1875, 126.55826558265582],
 ['NLTC Perera', 231, 179, 13, 17.76923076923077, 129.05027932960894],
 ['M Morkel', 10, 20, 4, 2.5, 50.0],
 ['PV Tambe', 2, 4, 0, inf, 50.0],
 ['S Kaushik', 0, 0, 0, nan, nan],
 ['UBT Chand', 223, 226, 16, 13.9375, 98.67256637168141],
 ['A Nehra', 6, 18, 3, 2.0, 33.33333333333333],
 ['PSP Handscomb', 6, 12, 1, 6.0, 50.0],
 ['A Ashish Reddy', 171, 119, 8, 21.375, 143.69747899159663],
 ['Parvez Rasool', 4, 5, 0, inf, 80.0],
 ['JA Morkel', 528, 391, 26, 20.307692307692307, 135.03836317135548],
 ['KP Pietersen', 574, 428, 13, 44.15384615384615, 134.11214953271028],
 ['KW Richardson', 9, 17, 1, 9.0, 52.94117647058824],
 ['P Sahu', 19, 13, 1, 19.0, 146.15384615384613],
 ['D Wiese', 28, 19, 2, 14.0, 147.36842105263156],
 ['MEK Hussey', 1633, 1352, 40, 40.825, 120.78402366863905],
 ['MA Starc', 35, 42, 3, 11.666666666666666, 83.33333333333334],
 ['Azhar Mahmood', 258, 195, 12, 21.5, 132.3076923076923],
 ['BE Hendricks', 1, 3, 1, 1.0, 33.33333333333333],
 ['RS Bopara', 350, 312, 12, 29.166666666666668, 112.17948717948718],
 ['J Botha', 173, 169, 11, 15.727272727272727, 102.36686390532543],
 ['GB Hogg', 0, 0, 0, nan, nan],
 ['Karanveer Singh', 0, 0, 0, nan, nan],
 ['RN ten Doeschate', 186, 134, 8, 23.25, 138.80597014925374],
 ['NJ Maddinson', 20, 21, 3, 6.666666666666667, 95.23809523809523],
 ['V Sehwag', 2082, 1403, 80, 26.025, 148.39629365645047],
 ['J Theron', 0, 1, 1, 0.0, 0.0],
 ['DJ Muthuswami', 1, 3, 1, 1.0, 33.33333333333333],
 ['MS Bisla', 583, 518, 26, 22.423076923076923, 112.54826254826256],
 ['RR Rossouw', 20, 23, 2, 10.0, 86.95652173913044],
 ['AN Ahmed', 4, 2, 1, 4.0, 200.0],
 ['RG More', 2, 2, 0, inf, 100.0],
 ['DJG Sammy', 220, 178, 11, 20.0, 123.59550561797752],
 ['CM Gautam', 105, 94, 7, 15.0, 111.70212765957446],
 ['DJ Hussey', 798, 661, 30, 26.6, 120.72617246596067],
 ['PP Ojha', 12, 30, 6, 2.0, 40.0],
 ['BJ Hodge', 747, 642, 25, 29.88, 116.35514018691589],
 ['Y Venugopal Rao', 562, 506, 26, 21.615384615384617, 111.06719367588933],

In [54]:
batting_power_play_df = pd.DataFrame(batting_power_play, columns=['Batter', 'runs', 'balls', 'Dismissals', 'average', 'strike_rate'])
batting_power_play_df

              Batter  runs  balls  Dismissals    average  strike_rate
0        YBK Jaiswal   452    337          19  23.789474   134.124629
1         JC Buttler  2072   1415          51  40.627451   146.431095
2          SV Samson  2250   1689          81  27.777778   133.214920
3         D Padikkal  1089    852          38  28.657895   127.816901
4         SO Hetmyer   547    384          19  28.789474   142.447917
..               ...   ...    ...         ...        ...          ...
600  D Kalyankrishna     3      8           1   3.000000    37.500000
601         MA Khote     7     10           0        inf    70.000000
602         SB Joshi     3      8           1   3.000000    37.500000
603       DS Lehmann     5      5           1   5.000000   100.000000
604        AA Noffke     0      0           0        NaN          NaN

[605 rows x 6 columns]

In [55]:
sorted_batting_powerplay_df = batting_power_play_df.sort_values('runs', ascending=False)
filtered_sorted_batting_powerplay_df = sorted_batting_powerplay_df.query('runs >= 500').dropna()
print(len(filtered_sorted_batting_powerplay_df))
filtered_sorted_batting_powerplay_df

97

        Batter  runs  balls  Dismissals    average  strike_rate
43    S Dhawan  4942   3905         141  35.049645   126.555698
14     V Kohli  4587   3623         127  36.118110   126.607784
50   DA Warner  4565   3261         105  43.476190   139.987734
59   RG Sharma  4098   3109         138  29.695652   131.810872
179   SK Raina  3993   2895         122  32.729508   137.927461
..         ...   ...    ...         ...        ...          ...
29     E Lewis   545    390          20  27.250000   139.743590
302    HM Amla   535    370          12  44.583333   144.594595
211  BA Stokes   529    416          22  24.045455   127.163462
332  JA Morkel   528    391          26  20.307692   135.038363
440   JD Ryder   519    381          22  23.590909   136.220472

[97 rows x 6 columns]

In [56]:
# Reset index of filtered_sorted_batting_powerplay_df
filtered_sorted_batting_powerplay_df = filtered_sorted_batting_powerplay_df.reset_index(drop=True)
len(filtered_sorted_batting_powerplay_df)

97

In [57]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Normalize the data
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(filtered_sorted_batting_powerplay_df[['runs', 'average', 'strike_rate']])

# Define weights for the composite score
runs_weight = 0.1
avg_weight = 0.5
strike_rate_weight = 0.7

# Create a new column for the composite score
filtered_sorted_batting_powerplay_df['performance'] = (
    runs_weight * normalized_data[:, 0] +
    avg_weight * normalized_data[:, 1] +
    strike_rate_weight * normalized_data[:, 2]
)

# Split the data into features and target variable
X = normalized_data
y = filtered_sorted_batting_powerplay_df["performance"]


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the model architecture
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(3,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=32)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

# Make predictions
predictions = model.predict(X_test)

Epoch 1/100
3/3 [==============================] - 2s 6ms/step - loss: 0.6935 - accuracy: 0.0000e+00
Epoch 2/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6916 - accuracy: 0.0000e+00
Epoch 3/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6904 - accuracy: 0.0000e+00
Epoch 4/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6890 - accuracy: 0.0000e+00
Epoch 5/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6879 - accuracy: 0.0000e+00
Epoch 6/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6867 - accuracy: 0.0000e+00
Epoch 7/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6857 - accuracy: 0.0000e+00
Epoch 8/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6844 - accuracy: 0.0000e+00
Epoch 9/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6830 - accuracy: 0.0000e+00
Epoch 10/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6815 - accuracy: 0.0000e+00
Epoch 11/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6799 - accuracy: 0.0000e+00
Epoch 12/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6782 - accuracy: 0.0000e+00
Epoch 13/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6766 - accuracy: 0.0000e+00
Epoch 14/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6750 - accuracy: 0.0000e+00
Epoch 15/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6733 - accuracy: 0.0000e+00
Epoch 16/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6717 - accuracy: 0.0000e+00
Epoch 17/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6698 - accuracy: 0.0000e+00
Epoch 18/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6679 - accuracy: 0.0000e+00
Epoch 19/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6659 - accuracy: 0.0000e+00
Epoch 20/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6642 - accuracy: 0.0000e+00
Epoch 21/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6619 - accuracy: 0.0000e+00
Epoch 22/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6597 - accuracy: 0.0000e+00
Epoch 23/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6576 - accuracy: 0.0000e+00
Epoch 24/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6554 - accuracy: 0.0000e+00
Epoch 25/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6532 - accuracy: 0.0000e+00
Epoch 26/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6511 - accuracy: 0.0000e+00
Epoch 27/100
3/3 [==============================] - 0s 8ms/step - loss: 0.6486 - accuracy: 0.0000e+00
Epoch 28/100
3/3 [==============================] - 0s 6ms/step - loss: 0.6464 - accuracy: 0.0000e+00
Epoch 29/100
3/3 [==============================] - 0s 7ms/step - loss: 0.6441 - accuracy: 0.0000e+00
Epoch 30/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6419 - accuracy: 0.0000e+00
Epoch 31/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6397 - accuracy: 0.0000e+00
Epoch 32/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6377 - accuracy: 0.0000e+00
Epoch 33/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6357 - accuracy: 0.0000e+00
Epoch 34/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6338 - accuracy: 0.0000e+00
Epoch 35/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6322 - accuracy: 0.0000e+00
Epoch 36/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6307 - accuracy: 0.0000e+00
Epoch 37/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6293 - accuracy: 0.0000e+00
Epoch 38/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6280 - accuracy: 0.0000e+00
Epoch 39/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6271 - accuracy: 0.0000e+00
Epoch 40/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6261 - accuracy: 0.0000e+00
Epoch 41/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6254 - accuracy: 0.0000e+00
Epoch 42/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6247 - accuracy: 0.0000e+00
Epoch 43/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6242 - accuracy: 0.0000e+00
Epoch 44/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6239 - accuracy: 0.0000e+00
Epoch 45/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6236 - accuracy: 0.0000e+00
Epoch 46/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6234 - accuracy: 0.0000e+00
Epoch 47/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6231 - accuracy: 0.0000e+00
Epoch 48/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6230 - accuracy: 0.0000e+00
Epoch 49/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6229 - accuracy: 0.0000e+00
Epoch 50/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6228 - accuracy: 0.0000e+00
Epoch 51/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6228 - accuracy: 0.0000e+00
Epoch 52/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6227 - accuracy: 0.0000e+00
Epoch 53/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6227 - accuracy: 0.0000e+00
Epoch 54/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6226 - accuracy: 0.0000e+00
Epoch 55/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6226 - accuracy: 0.0000e+00
Epoch 56/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6225 - accuracy: 0.0000e+00
Epoch 57/100
3/3 [==============================] - 0s 12ms/step - loss: 0.6225 - accuracy: 0.0000e+00
Epoch 58/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6225 - accuracy: 0.0000e+00
Epoch 59/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6225 - accuracy: 0.0000e+00
Epoch 60/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6224 - accuracy: 0.0000e+00
Epoch 61/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6224 - accuracy: 0.0000e+00
Epoch 62/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6224 - accuracy: 0.0000e+00
Epoch 63/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6224 - accuracy: 0.0000e+00
Epoch 64/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 65/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 66/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 67/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 68/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 69/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 70/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 71/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 72/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 73/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6223 - accuracy: 0.0000e+00
Epoch 74/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 75/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 76/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 77/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 78/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 79/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 80/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 81/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 82/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 83/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 84/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 85/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 86/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 87/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 88/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 89/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 90/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 91/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 92/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 93/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 94/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 95/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 96/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6221 - accuracy: 0.0000e+00
Epoch 97/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 98/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6221 - accuracy: 0.0000e+00
Epoch 99/100
3/3 [==============================] - 0s 5ms/step - loss: 0.6222 - accuracy: 0.0000e+00
Epoch 100/100
3/3 [==============================] - 0s 4ms/step - loss: 0.6221 - accuracy: 0.0000e+00
1/1 [==============================] - 0s 294ms/step - loss: 0.6405 - accuracy: 0.0000e+00
Test Loss: 0.6405
Test Accuracy: 0.0000
1/1 [==============================] - 0s 144ms/step

In [58]:
predictions

array([[0.53762734],
       [0.5190409 ],
       [0.41379124],
       [0.4904934 ],
       [0.5058999 ],
       [0.7469248 ],
       [0.2885794 ],
       [0.521159  ],
       [0.37157127],
       [0.41176766],
       [0.6571164 ],
       [0.71251625],
       [0.27768436],
       [0.50609475],
       [0.32831797],
       [0.43866044],
       [0.83334297],
       [0.22740538],
       [0.3979144 ],
       [0.2773272 ]], dtype=float32)

In [59]:
len(predictions)

20

In [60]:
output_players_performance = model.predict(X)
print(output_players_performance)

4/4 [==============================] - 0s 3ms/step
[[0.5504581 ]
 [0.5607199 ]
 [0.7787642 ]
 [0.5058999 ]
 [0.6108366 ]
 [0.78351957]
 [0.83334297]
 [0.38420808]
 [0.36880982]
 [0.39790922]
 [0.69003856]
 [0.8135299 ]
 [0.4823677 ]
 [0.5834626 ]
 [0.41379124]
 [0.41554475]
 [0.43314114]
 [0.4628069 ]
 [0.28431243]
 [0.44442162]
 [0.55962074]
 [0.3300861 ]
 [0.57338226]
 [0.7582461 ]
 [0.41176766]
 [0.38646823]
 [0.5370448 ]
 [0.5634988 ]
 [0.44192156]
 [0.31609148]
 [0.521159  ]
 [0.37779218]
 [0.41315553]
 [0.39654353]
 [0.71251625]
 [0.51073307]
 [0.20903121]
 [0.28048864]
 [0.3979144 ]
 [0.3085466 ]
 [0.5222543 ]
 [0.6806506 ]
 [0.55220145]
 [0.39594352]
 [0.39888427]
 [0.5585634 ]
 [0.49582046]
 [0.41866714]
 [0.43866044]
 [0.5138027 ]
 [0.34442765]
 [0.6403127 ]
 [0.20477904]
 [0.2773272 ]
 [0.16878174]
 [0.37157127]
 [0.3028027 ]
 [0.33713153]
 [0.9112744 ]
 [0.3404212 ]
 [0.6525308 ]
 [0.32831797]
 [0.7609172 ]
 [0.36140913]
 [0.14882591]
 [0.5582383 ]
 [0.2885794 ]
 [0.3811038 ]
 [0.4904934 ]
 [0.583394  ]
 [0.2460991 ]
 [0.22740538]
 [0.53762734]
 [0.4006975 ]
 [0.271381  ]
 [0.34694615]
 [0.39404374]
 [0.27768436]
 [0.50609475]
 [0.24855843]
 [0.55302835]
 [0.45893517]
 [0.29363692]
 [0.29122832]
 [0.6571164 ]
 [0.16365968]
 [0.16968228]
 [0.6501277 ]
 [0.21835615]
 [0.14907439]
 [0.20782648]
 [0.5190409 ]
 [0.4645893 ]
 [0.7469248 ]
 [0.28803754]
 [0.31471467]
 [0.3712935 ]]

In [61]:
len(output_players_performance)

97

In [62]:
filtered_sorted_batting_powerplay_df

       Batter  runs  balls  Dismissals    average  strike_rate  performance
0    S Dhawan  4942   3905         141  35.049645   126.555698     0.549509
1     V Kohli  4587   3623         127  36.118110   126.607784     0.556995
2   DA Warner  4565   3261         105  43.476190   139.987734     0.780291
3   RG Sharma  4098   3109         138  29.695652   131.810872     0.502246
4    SK Raina  3993   2895         122  32.729508   137.927461     0.597534
..        ...   ...    ...         ...        ...          ...          ...
92    E Lewis   545    390          20  27.250000   139.743590     0.458737
93    HM Amla   535    370          12  44.583333   144.594595     0.746148
94  BA Stokes   529    416          22  24.045455   127.163462     0.300250
95  JA Morkel   528    391          26  20.307692   135.038363     0.318336
96   JD Ryder   519    381          22  23.590909   136.220472     0.374980

[97 rows x 7 columns]

# Best Batters In the Powerplay

In [63]:
import pandas as pd

# Create a new dataframe from the array
performance_df = pd.DataFrame(output_players_performance, columns=['Actual Performance'])

# Concatenate the two dataframes along the column axis
merged_df = pd.concat([filtered_sorted_batting_powerplay_df, performance_df], axis=1)
merged_df.sort_values('Actual Performance', ascending=False)

,Batter,runs,balls,Dismissals,average,strike_rate,performance,Actual Performance
58,AD Russell,1063,579,30,35.433333,183.592401,0.979554,0.911274
6,AB de Villiers,3475,2248,85,40.882353,154.581851,0.850219,0.833343
11,KL Rahul,2806,2073,54,51.962963,135.359383,0.818445,0.813530
5,CH Gayle,3979,2684,101,39.396040,148.248882,0.783799,0.783520
2,DA Warner,4565,3261,105,43.476190,139.987734,0.780291,0.778764
...,...,...,...,...,...,...,...,...
86,IK Pathan,574,503,26,22.076923,114.115308,0.156342,0.169682
54,NV Ojha,1102,960,55,20.036364,114.791667,0.145623,0.168782
85,MS Bisla,583,518,26,22.423077,112.548263,0.147344,0.163660
89,Y Venugopal Rao,562,506,26,21.615385,111.067194,0.122192,0.149074
64,SC Ganguly,914,865,38,24.052632,105.664740,0.115940,0.148826