In [1]:
import pandas as pd
import numpy as np
import sqlite3

# Reconnect to the database
conn = sqlite3.connect('./ipl_database.db')
# Query the database
df_ball = pd.read_sql_query('SELECT * FROM ipl_ball_by_ball;', conn)

# Display the first few rows of the table
print(df_ball)

# Close the connection
conn.close()

             ID  innings  overs  ballnumber       batter          bowler
0       1312200        1      0           1  YBK Jaiswal  Mohammed Shami  \
1       1312200        1      0           2  YBK Jaiswal  Mohammed Shami
2       1312200        1      0           3   JC Buttler  Mohammed Shami
3       1312200        1      0           4  YBK Jaiswal  Mohammed Shami
4       1312200        1      0           5  YBK Jaiswal  Mohammed Shami
...         ...      ...    ...         ...          ...             ...
225949   335982        2     14           5      P Kumar        I Sharma
225950   335982        2     14           6     SB Joshi        I Sharma
225951   335982        2     14           7      P Kumar        I Sharma
225952   335982        2     15           1     SB Joshi       LR Shukla
225953   335982        2     15           2     SB Joshi       LR Shukla

        non-striker extra_type  batsman_run  extras_run  total_run
0        JC Buttler       None            0           0          0  \
1        JC Buttler    legbyes            0           1          1
2       YBK Jaiswal       None            1           0          1
3        JC Buttler       None            0           0          0
4        JC Buttler       None            0           0          0
...             ...        ...          ...         ...        ...
225949     SB Joshi    legbyes            0           1          1
225950      P Kumar       None            1           0          1
225951     SB Joshi       None            0           0          0
225952      P Kumar      wides            0           1          1
225953      P Kumar       None            0           0          0

        non_boundary  isWicketDelivery player_out    kind fielders_involved
0                  0                 0       None    None              None  \
1                  0                 0       None    None              None
2                  0                 0       None    None              None
3                  0                 0       None    None              None
4                  0                 0       None    None              None
...              ...               ...        ...     ...               ...
225949             0                 0       None    None              None
225950             0                 0       None    None              None
225951             0                 0       None    None              None
225952             0                 0       None    None              None
225953             0                 1   SB Joshi  caught       BB McCullum

                        BattingTeam
0                  Rajasthan Royals
1                  Rajasthan Royals
2                  Rajasthan Royals
3                  Rajasthan Royals
4                  Rajasthan Royals
...                             ...
225949  Royal Challengers Bangalore
225950  Royal Challengers Bangalore
225951  Royal Challengers Bangalore
225952  Royal Challengers Bangalore
225953  Royal Challengers Bangalore

[225954 rows x 17 columns]

In [2]:
unique_batters = df_ball['batter'].unique().tolist()

print(unique_batters)

['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'V Kohli', 'F du Plessis', 'RM Patidar', 'GJ Maxwell', 'MK Lomror', 'KD Karthik', 'Shahbaz Ahmed', 'PWH de Silva', 'HV Patel', 'JR Hazlewood', 'Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'PK Garg', 'Abhishek Sharma', 'RA Tripathi', 'AK Markram', 'N Pooran', 'Washington Sundar', 'R Shepherd', 'J Suchith', 'B Kumar', 'Umran Malik', 'JM Bairstow', 'S Dhawan', 'M Shahrukh Khan', 'MA Agarwal', 'LS Livingstone', 'JM Sharma', 'PN Mankad', 'PP Shaw', 'DA Warner', 'MR Marsh', 'RR Pant', 'SN Khan', 'R Powell', 'AR Patel', 'SN Thakur', 'Kuldeep Yadav', 'Ishan Kishan', 'RG Sharma', 'D Brevis', 'Tilak Varma', 'TH David', 'Ramandeep Singh', 'DR Sams', 'RD Gaikwad', 'DP Conway', 'MM Ali', 'N Jagadeesan', 'AT Rayudu', 'MS Dhoni', 'Simarjeet Singh', 'MJ Santner', 'R Tewatia', 'Rashid Khan', 'VR Iyer', 'N Rana', 'A Tomar', 'SS Iyer', 'SW Billings', 'AD Russell', 'RK Singh', 'SP Narine', 'UT Yadav', 'KS Williamson', 'T Stubbs', 'R Sanjay Yadav', 'JJ Bumrah', 'Lalit Yadav', 'PBB Rajapaksa', 'Harpreet Brar', 'R Dhawan', 'RD Chahar', 'K Rabada', 'Arshdeep Singh', 'JDS Neesham', 'A Badoni', 'JO Holder', 'Mohsin Khan', 'Avesh Khan', 'S Dube', 'AM Rahane', 'Shashank Singh', 'M Jansen', 'Mohammed Siraj', 'RV Uthappa', 'DJ Bravo', 'M Theekshana', 'Mukesh Choudhary', 'HR Shokeen', 'HE van der Dussen', 'KS Bharat', 'KS Sharma', 'SP Jackson', 'PJ Cummins', 'TG Southee', 'KA Pollard', 'M Ashwin', 'K Kartikeya', 'RP Meredith', 'RV Patel', 'A Nortje', 'KK Ahmed', 'Kartik Tyagi', 'Fazalhaq Farooqi', 'B Indrajith', 'AJ Finch', 'AS Roy', 'Shivam Mavi', 'Harshit Rana', 'SA Yadav', 'B Sai Sudharsan', 'Mandeep Singh', 'SA Abbott', 'S Gopal', 'RA Jadeja', 'D Pretorius', 'PJ Sangwan', 'LH Ferguson', 'AS Joseph', 'KK Nair', 'DJ Mitchell', 'A Manohar', 'M Prasidh Krishna', 'SS Prabhudessai', 'MK Pandey', 'JD Unadkat', 'Anuj Rawat', 'Yash Dayal', 'NT Ellis', 'VG Arora', 'Ravi Bishnoi', 'CV Varun', 'V Shankar', 'P Simran Singh', 'OF Smith', 'FA Allen', 'TS Mills', 'Aman Hakim Khan', 'YS Chahal', 'KR Sen', 'Akash Deep', 'K Gowtham', 'Rasikh Salam', 'CJ Jordan', 'DJ Willey', 'SE Rutherford', 'Abdul Samad', 'TL Seifert', 'Mustafizur Rahman', 'Navdeep Saini', 'Anmolpreet Singh', 'RA Bawa', 'NM Coulter-Nile', 'EJG Morgan', 'Shakib Al Hasan', 'AB de Villiers', 'DT Christian', 'TK Curran', 'SK Raina', 'SS Tiwary', 'J Yadav', 'SPD Smith', 'CH Morris', 'C Sakariya', 'JJ Roy', 'S Kaul', 'KA Jamieson', 'AF Milne', 'CH Gayle', 'KM Jadhav', 'GD Phillips', 'Sandeep Sharma', 'SM Curran', 'DL Chahar', 'T Shamsi', 'GHS Garton', 'MC Henriques', 'K Yadav', 'PP Chawla', 'Mohammad Nabi', 'Sachin Baby', 'DJ Malan', 'Mohammed Shami', 'Virat Singh', 'KL Nagarkoti', 'Harbhajan Singh', 'Mujeeb Ur Rahman', 'JA Richardson', 'CR Woakes', 'S Nadeem', 'BA Stokes', 'CA Lynn', 'SP Goswami', 'Gurkeerat Singh', 'AT Carey', 'JC Archer', 'SS Cottrell', 'T Banton', 'M Vijay', 'SR Watson', 'P Dubey', 'JR Philippe', 'T Natarajan', 'I Udana', 'VR Aaron', 'TU Deshpande', 'Imran Tahir', 'AS Rajpoot', 'DW Steyn', 'NS Naik', 'AJ Tye', 'JL Pattinson', 'DS Kulkarni', 'MJ McClenaghan', 'C Munro', 'KMA Paul', 'A Mishra', 'I Sharma', 'MJ Guptill', 'Basil Thampi', 'YK Pathan', 'PA Patel', 'C de Grandhomme', 'STR Binny', 'IS Sodhi', 'CA Ingram', 'H Klaasen', 'P Negi', 'BB Sran', 'AJ Turner', 'DR Shorey', 'CR Brathwaite', 'AD Nath', 'GC Viljoen', 'Y Prithvi Raj', 'KC Cariappa', 'BCJ Cutting', 'RK Bhui', 'JL Denly', 'SD Lad', 'HF Gurney', 'Yuvraj Singh', 'MM Sharma', 'GH Vihari', 'S Lamichhane', 'P Ray Barman', 'M Markande', 'JPR Scantlebury-Searles', 'MK Tiwary', 'AD Hales', 'Anureet Singh', 'DJM Short', 'P Chopra', 'JP Duminy', 'NV Ojha', 'BB McCullum', 'LE Plunkett', 'MG Johnson', 'CJ Anderson', 'G Gambhir', 'B Laughlin', 'A Dananjaya', 'B Stanlake', 'R Vinay Kumar', 'MA Wood', 'LMP Simmons', 'KV Sharma', 'IR Jaggi', 'Bipul Sharma', 'SL Malinga', 'Vishnu Vinod', 'TM Head', 'MN Samuels', 'Z Khan', 'SE Marsh', 'Swapnil Singh', 'DR Smith', 'JP Faulkner', 'Ankit Soni', 'P Kumar', 'MM Patel', 'HM Amla', 'S Aravind', 'S Badree', 'A Choudhary', 'IK Pathan', 'AR Bawne', 'DM Bravo', 'AP Tare', 'AD Mathews', 'Ankit Sharma', 'R Bhatia', 'A Zampa', 'AB Dinda', 'Iqbal Abdulla', 'ER Dwivedi', 'R Sathish', 'SB Jakati', 'F Behardien', 'KJ Abbott', 'UT Khawaja', 'GJ Bailey', 'NLTC Perera', 'M Morkel', 'PV Tambe', 'S Kaushik', 'UBT Chand', 'A Nehra', 'PSP Handscomb', 'A Ashish Reddy', 'Parvez Rasool', 'JA Morkel', 'KP Pietersen', 'KW Richardson', 'P Sahu', 'D Wiese', 'MEK Hussey', 'MA Starc', 'Azhar Mahmood', 'BE Hendricks', 'RS Bopara', 'J Botha', 'GB Hogg', 'Karanveer Singh', 'RN ten Doeschate', 'NJ Maddinson', 'V Sehwag', 'J Theron', 'DJ Muthuswami', 'MS Bisla', 'RR Rossouw', 'AN Ahmed', 'RG More', 'DJG Sammy', 'CM Gautam', 'DJ Hussey', 'PP Ojha', 'BJ Hodge', 'Y Venugopal Rao', 'S Anirudha', 'YV Takawale', 'VH Zol', 'S Rana', 'KK Cooper', 'VS Malik', 'M de Lange', 'Shivam Sharma', 'WD Parnell', 'LRPL Taylor', 'R Shukla', 'DH Yagnik', 'M Manhas', 'LR Shukla', 'L Balaji', 'JH Kallis', 'BR Dunk', 'CA Pujara', 'R Rampaul', 'AM Nayar', 'S Badrinath', 'R Dravid', 'CL White', 'BB Samantray', 'P Dogra', 'LJ Wright', 'RV Gomez', 'DPMD Jayawardene', 'B Chipli', 'BJ Rohrer', 'AC Gilchrist', 'SK Trivedi', 'RE van der Merwe', 'DB Das', 'SMSM Senanayake', 'SR Tendulkar', 'MC Juneja', 'AB Agarkar', 'LA Pomersbach', 'A Mithun', 'M Kartik', 'Harmeet Singh', 'P Awana', 'UA Birla', 'M Rawat', 'K Upadhyay', 'MS Gony', 'KC Sangakkara', 'R McLaren', 'PA Reddy', 'BMAJ Mendis', 'OA Shah', 'TL Suman', 'BAW Mendis', 'R Sharma', 'S Narwal', 'B Lee', 'A Mukund', 'TM Dilshan', 'KB Arun Karthik', 'J Syed Mohammad', 'X Thalaivan Sargunam', 'AG Murtaza', 'IC Pandey', 'A Chandila', 'S Sreesanth', 'SW Tait', 'PC Valthaty', 'AD Mascarenhas', 'RT Ponting', 'AB McDonald', 'RJ Harris', 'DB Ravi Teja', 'MDKJ Perera', 'AL Menaria', 'Sunny Gupta', 'JEC Franklin', 'RP Singh', 'M Muralitharan', 'P Parameswaran', 'JD Ryder', 'MJ Clarke', 'SC Ganguly', 'AP Majumdar', 'CJ Ferguson', 'Harpreet Singh', 'SD Chitnis', 'N Saini', 'HH Gibbs', 'Y Nagar', 'MD Mishra', 'AC Thomas', 'DJ Harris', 'AA Jhunjhunwala', 'AUK Pathan', 'RJ Peterson', 'AA Chavan', 'V Pratap Singh', 'RE Levi', 'DL Vettori', 'KMDN Kulasekara', 'AC Blizzard', 'DJ Jacobs', 'CJ McKay', 'M Kaif', 'BA Bhatt', 'RR Bhatkal', 'A Singh', 'DAJ Bracewell', 'DE Bollinger', 'Y Gnaneswara Rao', 'JJ van der Wath', 'CK Langeveldt', 'S Sohal', 'FY Fazal', 'PR Shah', 'JDP Oram', 'SK Warne', 'ND Doshi', 'S Sriram', 'JR Hopes', 'TR Birt', 'MJ Lumb', 'A Symonds', 'MV Boucher', 'AS Raut', 'SJ Srivastava', 'M Klinger', 'RR Powar', 'Sunny Singh', 'L Ablish', 'I Malhotra', 'GC Smith', 'SB Wagh', 'NL McCullum', 'B Akhil', 'TD Paine', 'JE Taylor', 'VVS Laxman', 'BJ Haddin', 'Joginder Sharma', 'S Randiv', 'SA Asnodkar', 'AG Paunikar', 'R Ninan', 'NJ Rimmington', 'SB Styris', 'ML Hayden', 'CRD Fernando', 'Anirudh Singh', 'B Sumanth', 'A Kumble', 'WPUJC Vaas', 'PD Collingwood', 'AC Voges', 'Pankaj Singh', 'C Madan', 'KP Appanna', 'ST Jayasuriya', 'AP Dole', 'MF Maharoof', 'AB Barath', 'T Thushara', 'RS Sodhi', 'AA Bilakhia', 'Jaskaran Singh', 'K Goel', 'KAJ Roach', 'S Ladda', 'DP Nannes', 'JM Kemp', 'DR Martyn', 'RS Gavaskar', 'SE Bond', 'A Uniyal', 'S Tyagi', 'YA Abdulla', 'Mohammad Ashraful', 'SM Katich', 'WA Mota', 'RJ Quiney', 'NK Patel', 'T Henderson', 'Yashpal Singh', 'SS Shaikh', 'Mashrafe Mortaza', 'C Nanda', 'Shoaib Ahmed', 'AN Ghosh', 'LA Carseldine', 'MN van Wyk', 'SM Harwood', 'L Ronchi', 'RR Raje', 'W Jaffer', 'D du Preez', 'R Bishnoi', 'TM Srivastava', 'GR Napier', 'FH Edwards', 'SB Bangar', 'A Flintoff', 'T Kohli', 'A Chopra', 'Kamran Khan', 'S Vidyut', 'CK Kapugedera', 'Kamran Akmal', 'Sohail Tanvir', 'Mohammad Asif', 'VY Mahesh', 'GD McGrath', 'AS Yadav', 'Shahid Afridi', 'SP Fleming', 'SM Pollock', 'Salman Butt', 'Umar Gul', 'Misbah-ul-Haq', 'LPC Silva', 'M Ntini', 'VS Yeligati', 'Mohammad Hafeez', 'DJ Thornely', 'H Das', 'DNT Zoysa', 'J Arunkumar', 'DT Patil', 'Abdur Razzak', 'Shoaib Malik', 'Shoaib Akhtar', 'PM Sarvesh Kumar', 'DP Vijaykumar', 'Younis Khan', 'D Salunkhe', 'T Taibu', 'RR Sarwan', 'VRV Singh', 'U Kaul', 'S Chanderpaul', 'D Kalyankrishna', 'MA Khote', 'SB Joshi', 'DS Lehmann', 'AA Noffke']

In [3]:
import sqlite3
import pandas as pd

def get_batting_stats(player_name):
    # Establish a connection to the SQLite database
    conn = sqlite3.connect('./ipl_database.db')

    # Define the SQL query with the corrected column name
    query = f'''
    SELECT
        innings,
        overs,
        SUM(CASE WHEN batter = ? THEN batsman_run ELSE 0 END) AS runs_scored,
        SUM((CASE WHEN isWicketDelivery = 1 AND player_out == ? THEN 1 ELSE 0 END)) AS Dismissals,
        COUNT(CASE WHEN (extra_type IS NULL OR extra_type = 'byes' OR extra_type = 'legbyes' OR extra_type = 'noballs') AND (batter = ?) THEN 1 ELSE NULL END) AS balls_faced
    FROM
        ipl_ball_by_ball
    WHERE
        batter = ? or "non-striker" = ?
    GROUP BY
        innings,
        overs
    ORDER BY
        innings,
        overs;
    '''

    # Execute the query with the player name as a parameter
    df = pd.read_sql_query(query, conn, params=(player_name, player_name, player_name, player_name, player_name))

    # Close the connection
    conn.close()

    return df

# Example usage
player_name = 'AB de Villiers'  # Replace with the actual player name
batter_stats_df = get_batting_stats(player_name)
batter_stats_df

    innings  overs  runs_scored  Dismissals  balls_faced
0         1      0           19           0           10
1         1      1           22           1           23
2         1      2           28           1           38
3         1      3           83           0           76
4         1      4          114           2           72
5         1      5          144           2           92
6         1      6          118           2           95
7         1      7          110           4           97
8         1      8          127           2          105
9         1      9          162           2          120
10        1     10          172           5          134
11        1     11          198           4          142
12        1     12          188           3          140
13        1     13          193           4          136
14        1     14          236           5          132
15        1     15          292           3          145
16        1     16          257           6          123
17        1     17          234           8          100
18        1     18          287           8          104
19        1     19          179           7           69
20        2      0            3           1            7
21        2      1           18           0           16
22        2      2           33           4           37
23        2      3           53           2           46
24        2      4          121           7          103
25        2      5           84           2           86
26        2      6           93           5           95
27        2      7          111           3           99
28        2      8          133           4          113
29        2      9          133           3          106
30        2     10          136           4          103
31        2     11          126           4           99
32        2     12          129           7           91
33        2     13          112           2           77
34        2     14           95           3           75
35        2     15          155           2           82
36        2     16          129           2           77
37        2     17          172           1           70
38        2     18          117           3           49
39        2     19           46           2           19
40        3      0           13           0            4
41        4      0            6           0            4

In [4]:
# Assuming you have a DataFrame named batter_stats_df
# Filter the DataFrame based on innings, overs range, and runs scored
innings_x = 1  # Specify the innings
overs_y = 6  # Specify the starting over
overs_z = 10  # Specify the ending over

filtered_batter_df = batter_stats_df[
    (batter_stats_df['innings'].isin([1, 2])) &  # Filter by innings
    (batter_stats_df['overs'] >= overs_y) &      # Filter by starting over
    (batter_stats_df['overs'] <= overs_z)
]

# Print the filtered DataFrame
filtered_batter_df

    innings  overs  runs_scored  Dismissals  balls_faced
6         1      6          118           2           95
7         1      7          110           4           97
8         1      8          127           2          105
9         1      9          162           2          120
10        1     10          172           5          134
26        2      6           93           5           95
27        2      7          111           3           99
28        2      8          133           4          113
29        2      9          133           3          106
30        2     10          136           4          103

In [5]:
def stat(player_name, batter_stats_df, overs_y, overs_z):
    # Assuming you have a DataFrame named batter_stats_df
    # Filter the DataFrame based on innings, overs range, and runs scored
     # Specify the ending over

    filtered_batter_df = batter_stats_df[
        (batter_stats_df['innings'].isin([1, 2])) &  # Filter by innings
        (batter_stats_df['overs'] >= overs_y) &      # Filter by starting over
        (batter_stats_df['overs'] <= overs_z)
    ]

    # Print the filtered DataFrame
    runs_score = filtered_batter_df["runs_scored"].sum()
    balls_faced = filtered_batter_df["balls_faced"].sum()
    dismissals = filtered_batter_df["Dismissals"].sum()
    average = runs_score/dismissals
    strike_rate = (runs_score/balls_faced)*100
    print(player_name)
    print(runs_score, balls_faced, dismissals, average, strike_rate)

    return [player_name, runs_score, balls_faced, dismissals, average, strike_rate]

stat("AB de Villiers", get_batting_stats("AB de Villiers"), 6, 10)

AB de Villiers
1295 1067 34 38.088235294117645 121.36832239925025

['AB de Villiers', 1295, 1067, 34, 38.088235294117645, 121.36832239925025]

In [6]:
runs_score = filtered_batter_df["runs_scored"].sum()
balls_faced = filtered_batter_df["balls_faced"].sum()
dismissals = filtered_batter_df["Dismissals"].sum()
average = runs_score/dismissals
strike_rate = (runs_score/balls_faced)*100
print(runs_score, balls_faced, dismissals, average, strike_rate)

1295 1067 34 38.088235294117645 121.36832239925025

In [7]:
def batting_stats_overs(player_name, batter_stats_df , overs_y, overs_z):

    filtered_batter_df = batter_stats_df[
        (batter_stats_df['innings'].isin([1, 2])) &  # Filter by innings
        (batter_stats_df['overs'] >= overs_y) &      # Filter by starting over
        (batter_stats_df['overs'] <= overs_z)
    ]


    runs_score = filtered_batter_df["runs_scored"].sum()
    balls_faced = filtered_batter_df["balls_faced"].sum()
    dismissals = filtered_batter_df["Dismissals"].sum()
    average = runs_score/dismissals
    strike_rate = (runs_score/balls_faced)*100
    
    return [player_name, runs_score, balls_faced, dismissals, average, strike_rate]

# Best Batters in the Powerplay

In [8]:
batting_power_play = []
for i in unique_batters:
    df = get_batting_stats(i)
    batting_power_play.append(batting_stats_overs(i, df, 0, 5))

C:\Users\anubr\AppData\Local\Temp\ipykernel_30528\4238514807.py:13: RuntimeWarning: invalid value encountered in scalar divide
  average = runs_score/dismissals
C:\Users\anubr\AppData\Local\Temp\ipykernel_30528\4238514807.py:14: RuntimeWarning: invalid value encountered in scalar divide
  strike_rate = (runs_score/balls_faced)*100
C:\Users\anubr\AppData\Local\Temp\ipykernel_30528\4238514807.py:13: RuntimeWarning: divide by zero encountered in scalar divide
  average = runs_score/dismissals

In [9]:
batting_power_play

[['YBK Jaiswal', 366, 272, 12, 30.5, 134.55882352941177],
 ['JC Buttler', 1229, 854, 26, 47.26923076923077, 143.9110070257611],
 ['SV Samson', 999, 849, 35, 28.542857142857144, 117.6678445229682],
 ['D Padikkal', 631, 512, 19, 33.21052631578947, 123.2421875],
 ['SO Hetmyer', 53, 51, 2, 26.5, 103.921568627451],
 ['R Ashwin', 58, 56, 4, 14.5, 103.57142857142858],
 ['R Parag', 0, 11, 1, 0.0, 0.0],
 ['TA Boult', 0, 0, 0, nan, nan],
 ['OC McCoy', 0, 0, 0, nan, nan],
 ['WP Saha', 972, 727, 35, 27.771428571428572, 133.70013755158183],
 ['Shubman Gill', 882, 729, 22, 40.09090909090909, 120.98765432098766],
 ['MS Wade', 113, 98, 6, 18.833333333333332, 115.3061224489796],
 ['HH Pandya', 84, 100, 3, 28.0, 84.0],
 ['DA Miller', 87, 93, 5, 17.4, 93.54838709677419],
 ['V Kohli', 2125, 1825, 58, 36.63793103448276, 116.43835616438356],
 ['F du Plessis', 1480, 1156, 38, 38.94736842105263, 128.02768166089967],
 ['RM Patidar', 107, 99, 2, 53.5, 108.08080808080808],
 ['GJ Maxwell', 349, 259, 16, 21.8125, 134.74903474903473],
 ['MK Lomror', 28, 28, 2, 14.0, 100.0],
 ['KD Karthik', 396, 402, 11, 36.0, 98.50746268656717],
 ['Shahbaz Ahmed', 14, 14, 0, inf, 100.0],
 ['PWH de Silva', 0, 0, 0, nan, nan],
 ['HV Patel', 0, 0, 0, nan, nan],
 ['JR Hazlewood', 0, 0, 0, nan, nan],
 ['Q de Kock', 1631, 1248, 45, 36.24444444444445, 130.68910256410254],
 ['KL Rahul', 1594, 1274, 28, 56.92857142857143, 125.1177394034537],
 ['M Vohra', 681, 529, 25, 27.24, 128.7334593572779],
 ['DJ Hooda', 88, 87, 1, 88.0, 101.14942528735634],
 ['MP Stoinis', 102, 93, 4, 25.5, 109.6774193548387],
 ['E Lewis', 420, 286, 13, 32.30769230769231, 146.85314685314685],
 ['KH Pandya', 43, 27, 2, 21.5, 159.25925925925927],
 ['PVD Chameera', 0, 0, 0, nan, nan],
 ['PK Garg', 41, 37, 2, 20.5, 110.8108108108108],
 ['Abhishek Sharma', 298, 226, 7, 42.57142857142857, 131.858407079646],
 ['RA Tripathi', 779, 549, 24, 32.458333333333336, 141.89435336976322],
 ['AK Markram', 25, 36, 0, inf, 69.44444444444444],
 ['N Pooran', 34, 34, 3, 11.333333333333334, 100.0],
 ['Washington Sundar', 17, 25, 1, 17.0, 68.0],
 ['R Shepherd', 0, 0, 0, nan, nan],
 ['J Suchith', 0, 0, 0, nan, nan],
 ['B Kumar', 0, 0, 0, nan, nan],
 ['Umran Malik', 0, 0, 0, nan, nan],
 ['JM Bairstow', 695, 470, 14, 49.642857142857146, 147.87234042553192],
 ['S Dhawan', 3157, 2584, 86, 36.7093023255814, 122.1749226006192],
 ['M Shahrukh Khan', 15, 12, 0, inf, 125.0],
 ['MA Agarwal', 1176, 966, 50, 23.52, 121.73913043478262],
 ['LS Livingstone', 134, 79, 4, 33.5, 169.62025316455694],
 ['JM Sharma', 1, 1, 0, inf, 100.0],
 ['PN Mankad', 0, 0, 0, nan, nan],
 ['PP Shaw', 1129, 766, 40, 28.225, 147.38903394255877],
 ['DA Warner', 2892, 2106, 65, 44.49230769230769, 137.32193732193733],
 ['MR Marsh', 115, 85, 3, 38.333333333333336, 135.29411764705884],
 ['RR Pant', 351, 280, 7, 50.142857142857146, 125.35714285714286],
 ['SN Khan', 75, 52, 3, 25.0, 144.23076923076923],
 ['R Powell', 0, 0, 0, nan, nan],
 ['AR Patel', 11, 13, 1, 11.0, 84.61538461538461],
 ['SN Thakur', 0, 0, 0, nan, nan],
 ['Kuldeep Yadav', 0, 0, 0, nan, nan],
 ['Ishan Kishan', 679, 551, 12, 56.583333333333336, 123.23049001814883],
 ['RG Sharma', 1632, 1389, 55, 29.672727272727272, 117.49460043196545],
 ['D Brevis', 65, 46, 2, 32.5, 141.30434782608697],
 ['Tilak Varma', 19, 27, 1, 19.0, 70.37037037037037],
 ['TH David', 0, 0, 0, nan, nan],
 ['Ramandeep Singh', 2, 3, 0, inf, 66.66666666666666],
 ['DR Sams', 1, 6, 1, 1.0, 16.666666666666664],
 ['RD Gaikwad', 522, 471, 15, 34.8, 110.828025477707],
 ['DP Conway', 85, 76, 3, 28.333333333333332, 111.8421052631579],
 ['MM Ali', 188, 152, 8, 23.5, 123.6842105263158],
 ['N Jagadeesan', 1, 3, 1, 1.0, 33.33333333333333],
 ['AT Rayudu', 777, 732, 23, 33.78260869565217, 106.14754098360655],
 ['MS Dhoni', 59, 72, 2, 29.5, 81.94444444444444],
 ['Simarjeet Singh', 0, 0, 0, nan, nan],
 ['MJ Santner', 20, 24, 2, 10.0, 83.33333333333334],
 ['R Tewatia', 6, 7, 1, 6.0, 85.71428571428571],
 ['Rashid Khan', 0, 0, 0, nan, nan],
 ['VR Iyer', 339, 287, 11, 30.818181818181817, 118.11846689895471],
 ['N Rana', 543, 464, 15, 36.2, 117.02586206896552],
 ['A Tomar', 4, 8, 1, 4.0, 50.0],
 ['SS Iyer', 858, 773, 24, 35.75, 110.99611901681759],
 ['SW Billings', 125, 97, 4, 31.25, 128.8659793814433],
 ['AD Russell', 37, 14, 0, inf, 264.2857142857143],
 ['RK Singh', 9, 7, 0, inf, 128.57142857142858],
 ['SP Narine', 665, 383, 36, 18.47222222222222, 173.62924281984334],
 ['UT Yadav', 0, 0, 0, nan, nan],
 ['KS Williamson', 463, 464, 14, 33.07142857142857, 99.78448275862068],
 ['T Stubbs', 0, 2, 1, 0.0, 0.0],
 ['R Sanjay Yadav', 0, 0, 0, nan, nan],
 ['JJ Bumrah', 0, 0, 0, nan, nan],
 ['Lalit Yadav', 23, 30, 0, inf, 76.66666666666667],
 ['PBB Rajapaksa', 56, 29, 3, 18.666666666666668, 193.10344827586206],
 ['Harpreet Brar', 0, 0, 0, nan, nan],
 ['R Dhawan', 0, 0, 0, nan, nan],
 ['RD Chahar', 0, 0, 0, nan, nan],
 ['K Rabada', 1, 3, 0, inf, 33.33333333333333],
 ['Arshdeep Singh', 0, 0, 0, nan, nan],
 ['JDS Neesham', 0, 0, 0, nan, nan],
 ['A Badoni', 1, 6, 1, 1.0, 16.666666666666664],
 ['JO Holder', 12, 18, 1, 12.0, 66.66666666666666],
 ['Mohsin Khan', 0, 0, 0, nan, nan],
 ['Avesh Khan', 0, 0, 0, nan, nan],
 ['S Dube', 30, 40, 0, inf, 75.0],
 ['AM Rahane', 2049, 1783, 65, 31.523076923076925, 114.91867638810993],
 ['Shashank Singh', 0, 0, 0, nan, nan],
 ['M Jansen', 0, 0, 0, nan, nan],
 ['Mohammed Siraj', 0, 0, 0, nan, nan],
 ['RV Uthappa', 2035, 1636, 62, 32.82258064516129, 124.38875305623472],
 ['DJ Bravo', 123, 110, 5, 24.6, 111.81818181818181],
 ['M Theekshana', 0, 0, 0, nan, nan],
 ['Mukesh Choudhary', 0, 0, 0, nan, nan],
 ['HR Shokeen', 1, 5, 0, inf, 20.0],
 ['HE van der Dussen', 0, 0, 0, nan, nan],
 ['KS Bharat', 65, 59, 2, 32.5, 110.16949152542372],
 ['KS Sharma', 4, 4, 1, 4.0, 100.0],
 ['SP Jackson', 10, 9, 1, 10.0, 111.11111111111111],
 ['PJ Cummins', 0, 1, 0, nan, 0.0],
 ['TG Southee', 0, 0, 0, nan, nan],
 ['KA Pollard', 28, 36, 1, 28.0, 77.77777777777779],
 ['M Ashwin', 0, 0, 0, nan, nan],
 ['K Kartikeya', 0, 0, 0, nan, nan],
 ['RP Meredith', 0, 0, 0, nan, nan],
 ['RV Patel', 0, 0, 0, nan, nan],
 ['A Nortje', 0, 0, 0, nan, nan],
 ['KK Ahmed', 0, 0, 0, nan, nan],
 ['Kartik Tyagi', 0, 0, 0, nan, nan],
 ['Fazalhaq Farooqi', 0, 0, 0, nan, nan],
 ['B Indrajith', 19, 27, 2, 9.5, 70.37037037037037],
 ['AJ Finch', 910, 793, 38, 23.94736842105263, 114.75409836065573],
 ['AS Roy', 0, 0, 0, nan, nan],
 ['Shivam Mavi', 0, 0, 0, nan, nan],
 ['Harshit Rana', 0, 0, 0, nan, nan],
 ['SA Yadav', 727, 516, 14, 51.92857142857143, 140.89147286821705],
 ['B Sai Sudharsan', 28, 26, 1, 28.0, 107.6923076923077],
 ['Mandeep Singh', 629, 546, 32, 19.65625, 115.2014652014652],
 ['SA Abbott', 0, 0, 0, nan, nan],
 ['S Gopal', 0, 4, 0, nan, 0.0],
 ['RA Jadeja', 52, 47, 2, 26.0, 110.63829787234043],
 ['D Pretorius', 0, 0, 0, nan, nan],
 ['PJ Sangwan', 0, 0, 0, nan, nan],
 ['LH Ferguson', 0, 0, 0, nan, nan],
 ['AS Joseph', 0, 0, 0, nan, nan],
 ['KK Nair', 504, 411, 18, 28.0, 122.62773722627738],
 ['DJ Mitchell', 0, 5, 0, nan, 0.0],
 ['A Manohar', 12, 12, 1, 12.0, 100.0],
 ['M Prasidh Krishna', 0, 0, 0, nan, nan],
 ['SS Prabhudessai', 8, 12, 0, inf, 66.66666666666666],
 ['MK Pandey', 1087, 953, 30, 36.233333333333334, 114.06086044071353],
 ['JD Unadkat', 0, 0, 0, nan, nan],
 ['Anuj Rawat', 77, 84, 6, 12.833333333333334, 91.66666666666666],
 ['Yash Dayal', 0, 0, 0, nan, nan],
 ['NT Ellis', 0, 0, 0, nan, nan],
 ['VG Arora', 0, 0, 0, nan, nan],
 ['Ravi Bishnoi', 0, 0, 0, nan, nan],
 ['CV Varun', 0, 0, 0, nan, nan],
 ['V Shankar', 45, 70, 4, 11.25, 64.28571428571429],
 ['P Simran Singh', 44, 42, 4, 11.0, 104.76190476190477],
 ['OF Smith', 0, 0, 0, nan, nan],
 ['FA Allen', 0, 0, 0, nan, nan],
 ['TS Mills', 0, 0, 0, nan, nan],
 ['Aman Hakim Khan', 0, 0, 0, nan, nan],
 ['YS Chahal', 0, 0, 0, nan, nan],
 ['KR Sen', 0, 0, 0, nan, nan],
 ['Akash Deep', 0, 0, 0, nan, nan],
 ['K Gowtham', 8, 5, 1, 8.0, 160.0],
 ['Rasikh Salam', 0, 0, 0, nan, nan],
 ['CJ Jordan', 0, 0, 0, nan, nan],
 ['DJ Willey', 6, 11, 0, inf, 54.54545454545454],
 ['SE Rutherford', 4, 12, 0, inf, 33.33333333333333],
 ['Abdul Samad', 0, 0, 0, nan, nan],
 ['TL Seifert', 24, 19, 2, 12.0, 126.3157894736842],
 ['Mustafizur Rahman', 0, 0, 0, nan, nan],
 ['Navdeep Saini', 0, 1, 0, nan, 0.0],
 ['Anmolpreet Singh', 21, 18, 2, 10.5, 116.66666666666667],
 ['RA Bawa', 0, 1, 0, nan, 0.0],
 ['NM Coulter-Nile', 0, 0, 0, nan, nan],
 ['EJG Morgan', 175, 190, 8, 21.875, 92.10526315789474],
 ['Shakib Al Hasan', 35, 36, 2, 17.5, 97.22222222222221],
 ['AB de Villiers', 722, 606, 22, 32.81818181818182, 119.14191419141915],
 ['DT Christian', 3, 8, 1, 3.0, 37.5],
 ['TK Curran', 0, 0, 0, nan, nan],
 ['SK Raina', 1552, 1168, 44, 35.27272727272727, 132.87671232876713],
 ['SS Tiwary', 169, 161, 4, 42.25, 104.96894409937889],
 ['J Yadav', 0, 0, 0, nan, nan],
 ['SPD Smith', 500, 411, 13, 38.46153846153846, 121.65450121654501],
 ['CH Morris', 17, 7, 0, inf, 242.85714285714283],
 ['C Sakariya', 0, 0, 0, nan, nan],
 ['JJ Roy', 203, 169, 9, 22.555555555555557, 120.11834319526626],
 ['S Kaul', 0, 0, 0, nan, nan],
 ['KA Jamieson', 0, 0, 0, nan, nan],
 ['AF Milne', 0, 0, 0, nan, nan],
 ['CH Gayle', 2373, 1761, 64, 37.078125, 134.75298126064737],
 ['KM Jadhav', 67, 81, 7, 9.571428571428571, 82.71604938271605],
 ['GD Phillips', 0, 7, 0, nan, 0.0],
 ['Sandeep Sharma', 0, 0, 0, nan, nan],
 ['SM Curran', 68, 52, 3, 22.666666666666668, 130.76923076923077],
 ['DL Chahar', 0, 0, 0, nan, nan],
 ['T Shamsi', 0, 0, 0, nan, nan],
 ['GHS Garton', 0, 0, 0, nan, nan],
 ['MC Henriques', 161, 140, 3, 53.666666666666664, 114.99999999999999],
 ['K Yadav', 0, 0, 0, nan, nan],
 ['PP Chawla', 15, 13, 1, 15.0, 115.38461538461537],
 ['Mohammad Nabi', 0, 0, 0, nan, nan],
 ['Sachin Baby', 0, 3, 1, 0.0, 0.0],
 ['DJ Malan', 1, 2, 0, inf, 50.0],
 ['Mohammed Shami', 0, 0, 0, nan, nan],
 ['Virat Singh', 0, 2, 0, nan, 0.0],
 ['KL Nagarkoti', 0, 0, 0, nan, nan],
 ['Harbhajan Singh', 62, 51, 3, 20.666666666666668, 121.56862745098039],
 ['Mujeeb Ur Rahman', 0, 0, 0, nan, nan],
 ['JA Richardson', 0, 0, 0, nan, nan],
 ['CR Woakes', 0, 0, 0, nan, nan],
 ['S Nadeem', 0, 0, 0, nan, nan],
 ['BA Stokes', 239, 180, 8, 29.875, 132.77777777777777],
 ['CA Lynn', 779, 540, 17, 45.8235294117647, 144.25925925925927],
 ['SP Goswami', 163, 167, 9, 18.11111111111111, 97.60479041916167],
 ['Gurkeerat Singh', 35, 37, 1, 35.0, 94.5945945945946],
 ['AT Carey', 0, 0, 0, nan, nan],
 ['JC Archer', 0, 4, 1, 0.0, 0.0],
 ['SS Cottrell', 0, 0, 0, nan, nan],
 ['T Banton', 18, 20, 2, 9.0, 90.0],
 ['M Vijay', 1574, 1375, 50, 31.48, 114.47272727272728],
 ['SR Watson', 1415, 1257, 40, 35.375, 112.56961018297534],
 ['P Dubey', 0, 0, 0, nan, nan],
 ['JR Philippe', 51, 55, 2, 25.5, 92.72727272727272],
 ['T Natarajan', 0, 0, 0, nan, nan],
 ['I Udana', 0, 0, 0, nan, nan],
 ['VR Aaron', 0, 0, 0, nan, nan],
 ['TU Deshpande', 0, 0, 0, nan, nan],
 ['Imran Tahir', 0, 0, 0, nan, nan],
 ['AS Rajpoot', 0, 0, 0, nan, nan],
 ['DW Steyn', 0, 0, 0, nan, nan],
 ['NS Naik', 7, 16, 1, 7.0, 43.75],
 ['AJ Tye', 0, 0, 0, nan, nan],
 ['JL Pattinson', 0, 0, 0, nan, nan],
 ['DS Kulkarni', 0, 0, 0, nan, nan],
 ['MJ McClenaghan', 0, 1, 1, 0.0, 0.0],
 ['C Munro', 131, 91, 5, 26.2, 143.95604395604394],
 ['KMA Paul', 0, 0, 0, nan, nan],
 ['A Mishra', 1, 5, 0, inf, 20.0],
 ['I Sharma', 0, 0, 0, nan, nan],
 ['MJ Guptill', 218, 156, 9, 24.22222222222222, 139.74358974358972],
 ['Basil Thampi', 0, 0, 0, nan, nan],
 ['YK Pathan', 343, 241, 13, 26.384615384615383, 142.32365145228215],
 ['PA Patel', 1904, 1565, 73, 26.08219178082192, 121.66134185303514],
 ['C de Grandhomme', 1, 2, 1, 1.0, 50.0],
 ['STR Binny', 18, 25, 0, inf, 72.0],
 ['IS Sodhi', 0, 0, 0, nan, nan],
 ['CA Ingram', 14, 18, 1, 14.0, 77.77777777777779],
 ['H Klaasen', 13, 14, 2, 6.5, 92.85714285714286],
 ['P Negi', 4, 6, 1, 4.0, 66.66666666666666],
 ['BB Sran', 0, 0, 0, nan, nan],
 ['AJ Turner', 0, 0, 0, nan, nan],
 ['DR Shorey', 0, 0, 0, nan, nan],
 ['CR Brathwaite', 0, 0, 0, nan, nan],
 ['AD Nath', 11, 11, 0, inf, 100.0],
 ['GC Viljoen', 0, 0, 0, nan, nan],
 ['Y Prithvi Raj', 0, 0, 0, nan, nan],
 ['KC Cariappa', 0, 0, 0, nan, nan],
 ['BCJ Cutting', 0, 0, 0, nan, nan],
 ['RK Bhui', 0, 5, 1, 0.0, 0.0],
 ['JL Denly', 0, 1, 1, 0.0, 0.0],
 ['SD Lad', 15, 13, 1, 15.0, 115.38461538461537],
 ['HF Gurney', 0, 0, 0, nan, nan],
 ['Yuvraj Singh', 189, 184, 12, 15.75, 102.71739130434783],
 ['MM Sharma', 0, 0, 0, nan, nan],
 ['GH Vihari', 59, 90, 5, 11.8, 65.55555555555556],
 ['S Lamichhane', 0, 0, 0, nan, nan],
 ['P Ray Barman', 0, 0, 0, nan, nan],
 ['M Markande', 0, 0, 0, nan, nan],
 ['JPR Scantlebury-Searles', 0, 0, 0, nan, nan],
 ['MK Tiwary', 224, 230, 10, 22.4, 97.3913043478261],
 ['AD Hales', 114, 81, 3, 38.0, 140.74074074074073],
 ['Anureet Singh', 0, 0, 0, nan, nan],
 ['DJM Short', 50, 60, 4, 12.5, 83.33333333333334],
 ['P Chopra', 0, 0, 0, nan, nan],
 ['JP Duminy', 235, 239, 6, 39.166666666666664, 98.32635983263597],
 ['NV Ojha', 494, 482, 22, 22.454545454545453, 102.48962655601659],
 ['BB McCullum', 1555, 1220, 57, 27.280701754385966, 127.45901639344261],
 ['LE Plunkett', 0, 0, 0, nan, nan],
 ['MG Johnson', 0, 0, 0, nan, nan],
 ['CJ Anderson', 52, 61, 4, 13.0, 85.24590163934425],
 ['G Gambhir', 2277, 1868, 69, 33.0, 121.8950749464668],
 ['B Laughlin', 0, 0, 0, nan, nan],
 ['A Dananjaya', 0, 0, 0, nan, nan],
 ['B Stanlake', 0, 0, 0, nan, nan],
 ['R Vinay Kumar', 0, 0, 0, nan, nan],
 ['MA Wood', 0, 0, 0, nan, nan],
 ['LMP Simmons', 542, 460, 12, 45.166666666666664, 117.82608695652175],
 ['KV Sharma', 7, 9, 1, 7.0, 77.77777777777779],
 ['IR Jaggi', 25, 37, 1, 25.0, 67.56756756756756],
 ['Bipul Sharma', 0, 0, 0, nan, nan],
 ['SL Malinga', 0, 0, 0, nan, nan],
 ['Vishnu Vinod', 10, 21, 2, 5.0, 47.61904761904761],
 ['TM Head', 10, 17, 2, 5.0, 58.82352941176471],
 ['MN Samuels', 9, 25, 1, 9.0, 36.0],
 ['Z Khan', 0, 3, 1, 0.0, 0.0],
 ['SE Marsh', 767, 730, 19, 40.36842105263158, 105.06849315068494],
 ['Swapnil Singh', 0, 0, 0, nan, nan],
 ['DR Smith', 1213, 976, 27, 44.925925925925924, 124.2827868852459],
 ['JP Faulkner', 14, 19, 3, 4.666666666666667, 73.68421052631578],
 ['Ankit Soni', 0, 0, 0, nan, nan],
 ['P Kumar', 6, 8, 2, 3.0, 75.0],
 ['MM Patel', 0, 0, 0, nan, nan],
 ['HM Amla', 261, 199, 6, 43.5, 131.15577889447238],
 ['S Aravind', 0, 0, 0, nan, nan],
 ['S Badree', 0, 0, 0, nan, nan],
 ['A Choudhary', 0, 0, 0, nan, nan],
 ['IK Pathan', 81, 65, 3, 27.0, 124.61538461538461],
 ['AR Bawne', 0, 0, 0, nan, nan],
 ['DM Bravo', 0, 0, 0, nan, nan],
 ['AP Tare', 226, 202, 13, 17.384615384615383, 111.88118811881189],
 ['AD Mathews', 10, 17, 0, inf, 58.82352941176471],
 ['Ankit Sharma', 27, 23, 0, inf, 117.3913043478261],
 ['R Bhatia', 0, 0, 0, nan, nan],
 ['A Zampa', 0, 0, 0, nan, nan],
 ['AB Dinda', 0, 0, 0, nan, nan],
 ['Iqbal Abdulla', 0, 0, 0, nan, nan],
 ['ER Dwivedi', 5, 5, 1, 5.0, 100.0],
 ['R Sathish', 0, 7, 1, 0.0, 0.0],
 ['SB Jakati', 0, 0, 0, nan, nan],
 ['F Behardien', 0, 0, 0, nan, nan],
 ['KJ Abbott', 0, 0, 0, nan, nan],
 ['UT Khawaja', 107, 75, 4, 26.75, 142.66666666666669],
 ['GJ Bailey', 131, 128, 3, 43.666666666666664, 102.34375],
 ['NLTC Perera', 18, 14, 1, 18.0, 128.57142857142858],
 ['M Morkel', 0, 0, 0, nan, nan],
 ['PV Tambe', 0, 0, 0, nan, nan],
 ['S Kaushik', 0, 0, 0, nan, nan],
 ['UBT Chand', 120, 142, 9, 13.333333333333334, 84.50704225352112],
 ['A Nehra', 0, 0, 0, nan, nan],
 ['PSP Handscomb', 0, 0, 0, nan, nan],
 ['A Ashish Reddy', 5, 6, 1, 5.0, 83.33333333333334],
 ['Parvez Rasool', 0, 0, 0, nan, nan],
 ['JA Morkel', 17, 12, 0, inf, 141.66666666666669],
 ['KP Pietersen', 392, 294, 5, 78.4, 133.33333333333331],
 ['KW Richardson', 0, 0, 0, nan, nan],
 ['P Sahu', 0, 0, 0, nan, nan],
 ['D Wiese', 0, 0, 0, nan, nan],
 ['MEK Hussey', 828, 767, 19, 43.578947368421055, 107.95306388526727],
 ['MA Starc', 0, 0, 0, nan, nan],
 ['Azhar Mahmood', 22, 24, 1, 22.0, 91.66666666666666],
 ['BE Hendricks', 0, 0, 0, nan, nan],
 ['RS Bopara', 130, 144, 5, 26.0, 90.27777777777779],
 ['J Botha', 45, 52, 1, 45.0, 86.53846153846155],
 ['GB Hogg', 0, 0, 0, nan, nan],
 ['Karanveer Singh', 0, 0, 0, nan, nan],
 ['RN ten Doeschate', 6, 7, 0, inf, 85.71428571428571],
 ['NJ Maddinson', 20, 21, 3, 6.666666666666667, 95.23809523809523],
 ['V Sehwag', 1593, 1105, 61, 26.114754098360656, 144.1628959276018],
 ['J Theron', 0, 0, 0, nan, nan],
 ['DJ Muthuswami', 0, 0, 0, nan, nan],
 ['MS Bisla', 474, 434, 20, 23.7, 109.21658986175116],
 ['RR Rossouw', 20, 23, 2, 10.0, 86.95652173913044],
 ['AN Ahmed', 0, 0, 0, nan, nan],
 ['RG More', 0, 0, 0, nan, nan],
 ['DJG Sammy', 8, 5, 0, inf, 160.0],
 ['CM Gautam', 68, 62, 5, 13.6, 109.6774193548387],
 ['DJ Hussey', 134, 115, 3, 44.666666666666664, 116.52173913043478],
 ['PP Ojha', 0, 0, 0, nan, nan],
 ['BJ Hodge', 148, 162, 8, 18.5, 91.35802469135803],
 ['Y Venugopal Rao', 76, 97, 3, 25.333333333333332, 78.35051546391753],
 ['S Anirudha', 26, 28, 3, 8.666666666666666, 92.85714285714286],
 ['YV Takawale', 121, 132, 5, 24.2, 91.66666666666666],
 ['VH Zol', 22, 21, 1, 22.0, 104.76190476190477],
 ['S Rana', 20, 22, 1, 20.0, 90.9090909090909],
 ['KK Cooper', 7, 2, 0, inf, 350.0],
 ['VS Malik', 0, 0, 0, nan, nan],
 ['M de Lange', 0, 0, 0, nan, nan],
 ['Shivam Sharma', 0, 0, 0, nan, nan],
 ['WD Parnell', 11, 14, 1, 11.0, 78.57142857142857],
 ['LRPL Taylor', 155, 121, 4, 38.75, 128.099173553719],
 ['R Shukla', 0, 0, 0, nan, nan],
 ['DH Yagnik', 0, 0, 0, nan, nan],
 ['M Manhas', 46, 53, 3, 15.333333333333334, 86.79245283018868],
 ['LR Shukla', 2, 5, 0, inf, 40.0],
 ['L Balaji', 0, 0, 0, nan, nan],
 ['JH Kallis', 1036, 982, 34, 30.470588235294116, 105.49898167006111],
 ['BR Dunk', 40, 35, 3, 13.333333333333334, 114.28571428571428],
 ['CA Pujara', 215, 229, 11, 19.545454545454547, 93.88646288209607],
 ['R Rampaul', 0, 0, 0, nan, nan],
 ['AM Nayar', 65, 73, 3, 21.666666666666668, 89.04109589041096],
 ['S Badrinath', 182, 237, 6, 30.333333333333332, 76.79324894514767],
 ['R Dravid', 905, 832, 17, 53.23529411764706, 108.77403846153845],
 ['CL White', 90, 111, 7, 12.857142857142858, 81.08108108108108],
 ['BB Samantray', 15, 21, 0, inf, 71.42857142857143],
 ['P Dogra', 0, 0, 0, nan, nan],
 ['LJ Wright', 8, 8, 1, 8.0, 100.0],
 ['RV Gomez', 0, 1, 1, 0.0, 0.0],
 ['DPMD Jayawardene', 605, 499, 22, 27.5, 121.24248496993988],
 ['B Chipli', 55, 76, 5, 11.0, 72.36842105263158],
 ['BJ Rohrer', 0, 0, 0, nan, nan],
 ['AC Gilchrist', 1385, 1033, 48, 28.854166666666668, 134.0755082284608],
 ['SK Trivedi', 0, 0, 0, nan, nan],
 ['RE van der Merwe', 36, 37, 2, 18.0, 97.2972972972973],
 ['DB Das', 58, 53, 4, 14.5, 109.43396226415094],
 ['SMSM Senanayake', 0, 0, 0, nan, nan],
 ['SR Tendulkar', 1143, 982, 26, 43.96153846153846, 116.3951120162933],
 ['MC Juneja', 20, 18, 1, 20.0, 111.11111111111111],
 ['AB Agarkar', 20, 13, 1, 20.0, 153.84615384615387],
 ['LA Pomersbach', 104, 80, 5, 20.8, 130.0],
 ['A Mithun', 0, 0, 0, nan, nan],
 ['M Kartik', 0, 0, 0, nan, nan],
 ['Harmeet Singh', 0, 0, 0, nan, nan],
 ['P Awana', 0, 0, 0, nan, nan],
 ['UA Birla', 6, 9, 0, inf, 66.66666666666666],
 ['M Rawat', 0, 2, 1, 0.0, 0.0],
 ['K Upadhyay', 0, 0, 0, nan, nan],
 ['MS Gony', 0, 0, 0, nan, nan],
 ['KC Sangakkara', 522, 450, 14, 37.285714285714285, 115.99999999999999],
 ['R McLaren', 12, 18, 0, inf, 66.66666666666666],
 ['PA Reddy', 103, 104, 5, 20.6, 99.03846153846155],
 ['BMAJ Mendis', 1, 2, 0, inf, 50.0],
 ['OA Shah', 23, 18, 0, inf, 127.77777777777777],
 ['TL Suman', 185, 181, 15, 12.333333333333334, 102.20994475138122],
 ['BAW Mendis', 0, 0, 0, nan, nan],
 ['R Sharma', 0, 0, 0, nan, nan],
 ['S Narwal', 0, 0, 0, nan, nan],
 ['B Lee', 0, 0, 0, nan, nan],
 ['A Mukund', 14, 15, 0, inf, 93.33333333333333],
 ['TM Dilshan', 488, 440, 18, 27.11111111111111, 110.9090909090909],
 ['KB Arun Karthik', 0, 0, 0, nan, nan],
 ['J Syed Mohammad', 0, 0, 0, nan, nan],
 ['X Thalaivan Sargunam', 0, 0, 0, nan, nan],
 ['AG Murtaza', 0, 0, 0, nan, nan],
 ['IC Pandey', 0, 0, 0, nan, nan],
 ['A Chandila', 0, 0, 0, nan, nan],
 ['S Sreesanth', 0, 0, 0, nan, nan],
 ['SW Tait', 0, 0, 0, nan, nan],
 ['PC Valthaty', 312, 278, 15, 20.8, 112.23021582733811],

In [11]:
batting_power_play_df = pd.DataFrame(batting_power_play, columns=['Batter', 'runs', 'balls', 'Dismissals', 'average', 'strike_rate'])
batting_power_play_df

              Batter  runs  balls  Dismissals    average  strike_rate
0        YBK Jaiswal   366    272          12  30.500000   134.558824
1         JC Buttler  1229    854          26  47.269231   143.911007
2          SV Samson   999    849          35  28.542857   117.667845
3         D Padikkal   631    512          19  33.210526   123.242188
4         SO Hetmyer    53     51           2  26.500000   103.921569
..               ...   ...    ...         ...        ...          ...
600  D Kalyankrishna     0      0           0        NaN          NaN
601         MA Khote     0      0           0        NaN          NaN
602         SB Joshi     0      0           0        NaN          NaN
603       DS Lehmann     4      3           0        inf   133.333333
604        AA Noffke     0      0           0        NaN          NaN

[605 rows x 6 columns]

In [12]:
sorted_batting_powerplay_df = batting_power_play_df.sort_values('runs', ascending=False)
filtered_sorted_batting_powerplay_df = sorted_batting_powerplay_df.query('runs >= 500').dropna()
print(len(filtered_sorted_batting_powerplay_df))
filtered_sorted_batting_powerplay_df

54

               Batter  runs  balls  Dismissals    average  strike_rate
43           S Dhawan  3157   2584          86  36.709302   122.174923
50          DA Warner  2892   2106          65  44.492308   137.321937
189          CH Gayle  2373   1761          64  37.078125   134.752981
280         G Gambhir  2277   1868          69  33.000000   121.895075
14            V Kohli  2125   1825          58  36.637931   116.438356
101         AM Rahane  2049   1783          65  31.523077   114.918676
105        RV Uthappa  2035   1636          62  32.822581   124.388753
242          PA Patel  1904   1565          73  26.082192   121.661342
59          RG Sharma  1632   1389          55  29.672727   117.494600
24          Q de Kock  1631   1248          45  36.244444   130.689103
25           KL Rahul  1594   1274          28  56.928571   125.117739
347          V Sehwag  1593   1105          61  26.114754   144.162896
219           M Vijay  1574   1375          50  31.480000   114.472727
276       BB McCullum  1555   1220          57  27.280702   127.459016
179          SK Raina  1552   1168          44  35.272727   132.876712
15       F du Plessis  1480   1156          38  38.947368   128.027682
220         SR Watson  1415   1257          40  35.375000   112.569610
390      AC Gilchrist  1385   1033          48  28.854167   134.075508
1          JC Buttler  1229    854          26  47.269231   143.911007
297          DR Smith  1213    976          27  44.925926   124.282787
45         MA Agarwal  1176    966          50  23.520000   121.739130
395      SR Tendulkar  1143    982          26  43.961538   116.395112
49            PP Shaw  1129    766          40  28.225000   147.389034
145         MK Pandey  1087    953          30  36.233333   114.060860
375         JH Kallis  1036    982          34  30.470588   105.498982
2           SV Samson   999    849          35  28.542857   117.667845
9             WP Saha   972    727          35  27.771429   133.700138
126          AJ Finch   910    793          38  23.947368   114.754098
381          R Dravid   905    832          17  53.235294   108.774038
10       Shubman Gill   882    729          22  40.090909   120.987654
78            SS Iyer   858    773          24  35.750000   110.996119
337        MEK Hussey   828    767          19  43.578947   107.953064
34        RA Tripathi   779    549          24  32.458333   141.894353
212           CA Lynn   779    540          17  45.823529   144.259259
69          AT Rayudu   777    732          23  33.782609   106.147541
295          SE Marsh   767    730          19  40.368421   105.068493
130          SA Yadav   727    516          14  51.928571   140.891473
176    AB de Villiers   722    606          22  32.818182   119.141914
42        JM Bairstow   695    470          14  49.642857   147.872340
26            M Vohra   681    529          25  27.240000   128.733459
58       Ishan Kishan   679    551          12  56.583333   123.230490
82          SP Narine   665    383          36  18.472222   173.629243
3          D Padikkal   631    512          19  33.210526   123.242188
132     Mandeep Singh   629    546          32  19.656250   115.201465
387  DPMD Jayawardene   605    499          22  27.500000   121.242485
507         ML Hayden   599    461          13  46.076923   129.934924
76             N Rana   543    464          15  36.200000   117.025862
286       LMP Simmons   542    460          12  45.166667   117.826087
442        SC Ganguly   529    518          19  27.842105   102.123552
65         RD Gaikwad   522    471          15  34.800000   110.828025
407     KC Sangakkara   522    450          14  37.285714   116.000000
518     ST Jayasuriya   514    366          19  27.052632   140.437158
140           KK Nair   504    411          18  28.000000   122.627737
182         SPD Smith   500    411          13  38.461538   121.654501

In [13]:
# Reset index of filtered_sorted_batting_powerplay_df
filtered_sorted_batting_powerplay_df = filtered_sorted_batting_powerplay_df.reset_index(drop=True)
len(filtered_sorted_batting_powerplay_df)

54

In [23]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

# Load the data
data = filtered_sorted_batting_powerplay_df
# Handle missing values
data = data.dropna()

# Standardize the data
scaler = StandardScaler()
X = scaler.fit_transform(data[['runs', 'average', 'strike_rate']])

# Create and train the neural network
model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(3,)))
model.add(Dropout(0.2))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='linear'))

model.compile(optimizer='adam', loss='mse')
model.fit(X, X, epochs=100, batch_size=32, verbose=0)

# Inspect the model's summary to find the correct layer name
model.summary()

encoder = tf.keras.Model(model.input, model.layers[-2].output)
encoded_data = encoder.predict(X)

# Apply K-Means clustering
kmeans = KMeans(n_clusters=3, random_state=0)
labels = kmeans.fit_predict(encoded_data)

# Assign the cluster labels back to the original data
data['Cluster'] = labels
print(data)

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_36 (Dense)            (None, 32)                128

 dropout_27 (Dropout)        (None, 32)                0

 dense_37 (Dense)            (None, 16)                528

 dropout_28 (Dropout)        (None, 16)                0

 dense_38 (Dense)            (None, 8)                 136

 dropout_29 (Dropout)        (None, 8)                 0

 dense_39 (Dense)            (None, 1)                 9

=================================================================
Total params: 801 (3.13 KB)
Trainable params: 801 (3.13 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________
2/2 [==============================] - 0s 3ms/step
              Batter  runs  balls  Dismissals    average  strike_rate  Cluster
0           S Dhawan  3157   2584          86  36.709302   122.174923        2
1          DA Warner  2892   2106          65  44.492308   137.321937        2
2           CH Gayle  2373   1761          64  37.078125   134.752981        2
3          G Gambhir  2277   1868          69  33.000000   121.895075        1
4            V Kohli  2125   1825          58  36.637931   116.438356        1
5          AM Rahane  2049   1783          65  31.523077   114.918676        1
6         RV Uthappa  2035   1636          62  32.822581   124.388753        1
7           PA Patel  1904   1565          73  26.082192   121.661342        1
8          RG Sharma  1632   1389          55  29.672727   117.494600        0
9          Q de Kock  1631   1248          45  36.244444   130.689103        1
10          KL Rahul  1594   1274          28  56.928571   125.117739        2
11          V Sehwag  1593   1105          61  26.114754   144.162896        1
12           M Vijay  1574   1375          50  31.480000   114.472727        0
13       BB McCullum  1555   1220          57  27.280702   127.459016        1
14          SK Raina  1552   1168          44  35.272727   132.876712        1
15      F du Plessis  1480   1156          38  38.947368   128.027682        1
16         SR Watson  1415   1257          40  35.375000   112.569610        0
17      AC Gilchrist  1385   1033          48  28.854167   134.075508        1
18        JC Buttler  1229    854          26  47.269231   143.911007        2
19          DR Smith  1213    976          27  44.925926   124.282787        1
20        MA Agarwal  1176    966          50  23.520000   121.739130        0
21      SR Tendulkar  1143    982          26  43.961538   116.395112        1
22           PP Shaw  1129    766          40  28.225000   147.389034        1
23         MK Pandey  1087    953          30  36.233333   114.060860        0
24         JH Kallis  1036    982          34  30.470588   105.498982        0
25         SV Samson   999    849          35  28.542857   117.667845        0
26           WP Saha   972    727          35  27.771429   133.700138        0
27          AJ Finch   910    793          38  23.947368   114.754098        0
28          R Dravid   905    832          17  53.235294   108.774038        1
29      Shubman Gill   882    729          22  40.090909   120.987654        1
30           SS Iyer   858    773          24  35.750000   110.996119        0
31        MEK Hussey   828    767          19  43.578947   107.953064        0
32       RA Tripathi   779    549          24  32.458333   141.894353        1
33           CA Lynn   779    540          17  45.823529   144.259259        2
34         AT Rayudu   777    732          23  33.782609   106.147541        0
35          SE Marsh   767    730          19  40.368421   105.068493        0
36          SA Yadav   727    516          14  51.928571   140.891473        2
37    AB de Villiers   722    606          22  32.818182   119.141914        0
38       JM Bairstow   695    470          14  49.642857   147.872340        2
39           M Vohra   681    529          25  27.240000   128.733459        0
40      Ishan Kishan   679    551          12  56.583333   123.230490        1
41         SP Narine   665    383          36  18.472222   173.629243        1
42        D Padikkal   631    512          19  33.210526   123.242188        0
43     Mandeep Singh   629    546          32  19.656250   115.201465        0
44  DPMD Jayawardene   605    499          22  27.500000   121.242485        0
45         ML Hayden   599    461          13  46.076923   129.934924        1
46            N Rana   543    464          15  36.200000   117.025862        0
47       LMP Simmons   542    460          12  45.166667   117.826087        1
48        SC Ganguly   529    518          19  27.842105   102.123552        0
49        RD Gaikwad   522    471          15  34.800000   110.828025        0
50     KC Sangakkara   522    450          14  37.285714   116.000000        0
51     ST Jayasuriya   514    366          19  27.052632   140.437158        0
52           KK Nair   504    411          18  28.000000   122.627737        0
53         SPD Smith   500    411          13  38.461538   121.654501        0

c:\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [26]:
# Assuming 'data' is your DataFrame
sorted_data = data.sort_values(by='Cluster', ascending=False)

# Display the sorted DataFrame
sorted_data

              Batter  runs  balls  Dismissals    average  strike_rate  Cluster
0           S Dhawan  3157   2584          86  36.709302   122.174923        2
10          KL Rahul  1594   1274          28  56.928571   125.117739        2
36          SA Yadav   727    516          14  51.928571   140.891473        2
33           CA Lynn   779    540          17  45.823529   144.259259        2
1          DA Warner  2892   2106          65  44.492308   137.321937        2
18        JC Buttler  1229    854          26  47.269231   143.911007        2
38       JM Bairstow   695    470          14  49.642857   147.872340        2
2           CH Gayle  2373   1761          64  37.078125   134.752981        2
7           PA Patel  1904   1565          73  26.082192   121.661342        1
21      SR Tendulkar  1143    982          26  43.961538   116.395112        1
40      Ishan Kishan   679    551          12  56.583333   123.230490        1
41         SP Narine   665    383          36  18.472222   173.629243        1
3          G Gambhir  2277   1868          69  33.000000   121.895075        1
32       RA Tripathi   779    549          24  32.458333   141.894353        1
29      Shubman Gill   882    729          22  40.090909   120.987654        1
28          R Dravid   905    832          17  53.235294   108.774038        1
4            V Kohli  2125   1825          58  36.637931   116.438356        1
45         ML Hayden   599    461          13  46.076923   129.934924        1
47       LMP Simmons   542    460          12  45.166667   117.826087        1
22           PP Shaw  1129    766          40  28.225000   147.389034        1
19          DR Smith  1213    976          27  44.925926   124.282787        1
13       BB McCullum  1555   1220          57  27.280702   127.459016        1
9          Q de Kock  1631   1248          45  36.244444   130.689103        1
5          AM Rahane  2049   1783          65  31.523077   114.918676        1
6         RV Uthappa  2035   1636          62  32.822581   124.388753        1
17      AC Gilchrist  1385   1033          48  28.854167   134.075508        1
11          V Sehwag  1593   1105          61  26.114754   144.162896        1
15      F du Plessis  1480   1156          38  38.947368   128.027682        1
14          SK Raina  1552   1168          44  35.272727   132.876712        1
49        RD Gaikwad   522    471          15  34.800000   110.828025        0
42        D Padikkal   631    512          19  33.210526   123.242188        0
51     ST Jayasuriya   514    366          19  27.052632   140.437158        0
44  DPMD Jayawardene   605    499          22  27.500000   121.242485        0
43     Mandeep Singh   629    546          32  19.656250   115.201465        0
39           M Vohra   681    529          25  27.240000   128.733459        0
50     KC Sangakkara   522    450          14  37.285714   116.000000        0
46            N Rana   543    464          15  36.200000   117.025862        0
52           KK Nair   504    411          18  28.000000   122.627737        0
48        SC Ganguly   529    518          19  27.842105   102.123552        0
27          AJ Finch   910    793          38  23.947368   114.754098        0
37    AB de Villiers   722    606          22  32.818182   119.141914        0
35          SE Marsh   767    730          19  40.368421   105.068493        0
34         AT Rayudu   777    732          23  33.782609   106.147541        0
31        MEK Hussey   828    767          19  43.578947   107.953064        0
30           SS Iyer   858    773          24  35.750000   110.996119        0
26           WP Saha   972    727          35  27.771429   133.700138        0
25         SV Samson   999    849          35  28.542857   117.667845        0
24         JH Kallis  1036    982          34  30.470588   105.498982        0
23         MK Pandey  1087    953          30  36.233333   114.060860        0
20        MA Agarwal  1176    966          50  23.520000   121.739130        0
16         SR Watson  1415   1257          40  35.375000   112.569610        0
12           M Vijay  1574   1375          50  31.480000   114.472727        0
8          RG Sharma  1632   1389          55  29.672727   117.494600        0
53         SPD Smith   500    411          13  38.461538   121.654501        0

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Normalize the data
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(filtered_sorted_batting_powerplay_df[['runs', 'average', 'strike_rate']])

# Define weights for the composite score
runs_weight = 0.1
avg_weight = 0.5
strike_rate_weight = 0.6

# Create a new column for the composite score
filtered_sorted_batting_powerplay_df['performance'] = (
    runs_weight * normalized_data[:, 0] +
    avg_weight * normalized_data[:, 1] +
    strike_rate_weight * normalized_data[:, 2]
)

# Split the data into features and target variable
X = normalized_data
y = filtered_sorted_batting_powerplay_df["performance"]


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the model architecture
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(3,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=32)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

# Make predictions
predictions = model.predict(X_test)

In [ ]:
predictions

In [ ]:
len(predictions)

In [ ]:
output_players_performance = model.predict(X)
print(output_players_performance)

In [ ]:
len(output_players_performance)

In [ ]:
filtered_sorted_batting_powerplay_df

# Best Batters In the Powerplay

In [ ]:
import pandas as pd

# Create a new dataframe from the array
performance_df = pd.DataFrame(output_players_performance, columns=['Predicted Performance'])

# Concatenate the two dataframes along the column axis
merged_batting_powerplay_df = pd.concat([filtered_sorted_batting_powerplay_df, performance_df], axis=1)
merged_batting_powerplay_df = merged_batting_powerplay_df.sort_values('Predicted Performance', ascending=False)
merged_batting_powerplay_df = merged_batting_powerplay_df.reset_index(drop=True)
merged_batting_powerplay_df

# Batting Middle Overs Part 1

In [ ]:
batting_middle_one = []
for i in unique_batters:
    batting_middle_one.append(batting_stats_overs(i, get_batting_stats(i), 6, 10))

In [ ]:
batting_stats_overs("AB de Villiers", get_batting_stats("AB de Villiers") , 6, 10)

In [ ]:
batting_middle_one

In [ ]:
batting_middle_one_df = pd.DataFrame(batting_middle_one, columns=['Batter', 'runs', 'balls', 'Dismissals', 'average', 'strike_rate'])
batting_middle_one_df

In [ ]:
sorted_batting_middle_one_df = batting_middle_one_df.sort_values('runs', ascending=False)
filtered_sorted_batting_middle_one_df = sorted_batting_middle_one_df.query('runs >= 500').dropna()
print(len(filtered_sorted_batting_middle_one_df))
filtered_sorted_batting_middle_one_df

In [ ]:
# Reset index of filtered_sorted_batting_powerplay_df
filtered_sorted_batting_middle_one_df = filtered_sorted_batting_middle_one_df.reset_index(drop=True)
len(filtered_sorted_batting_middle_one_df)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Normalize the data
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(filtered_sorted_batting_middle_one_df[['runs', 'average', 'strike_rate']])

# Define weights for the composite score
runs_weight = 0.1
avg_weight = 0.5
strike_rate_weight = 0.6

# Create a new column for the composite score
filtered_sorted_batting_middle_one_df['performance'] = (
    runs_weight * normalized_data[:, 0] +
    avg_weight * normalized_data[:, 1] +
    strike_rate_weight * normalized_data[:, 2]
)

# Split the data into features and target variable
X = normalized_data
y = filtered_sorted_batting_middle_one_df["performance"]


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the model architecture
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(3,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=32)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

# Make predictions
predictions = model.predict(X_test)

In [ ]:
predictions

In [ ]:
len(predictions)

In [ ]:
output_players_performance = model.predict(X)
print(output_players_performance)

In [ ]:
len(output_players_performance)

In [ ]:
filtered_sorted_batting_middle_one_df

# Best Batters In the Middle Part 1

In [ ]:
import pandas as pd

# Create a new dataframe from the array
performance_df = pd.DataFrame(output_players_performance, columns=['Actual Performance'])

# Concatenate the two dataframes along the column axis
merged_filtered_sorted_batting_middle_one_df = pd.concat([filtered_sorted_batting_middle_one_df, performance_df], axis=1)
merged_filtered_sorted_batting_middle_one_df = merged_filtered_sorted_batting_middle_one_df.sort_values('Actual Performance', ascending=False)
merged_filtered_sorted_batting_middle_one_df = merged_filtered_sorted_batting_middle_one_df.reset_index(drop=True)
merged_filtered_sorted_batting_middle_one_df

# Batting Middle Overs Part 2

In [ ]:
batting_middle_two = []
for i in unique_batters:
    batting_middle_two.append(batting_stats_overs(i, get_batting_stats(i), 11, 15))

In [ ]:
batting_middle_two

In [ ]:
batting_middle_two_df = pd.DataFrame(batting_middle_two, columns=['Batter', 'runs', 'balls', 'Dismissals', 'average', 'strike_rate'])
batting_middle_two_df

In [ ]:
sorted_batting_middle_two_df = batting_middle_two_df.sort_values('runs', ascending=False)
filtered_sorted_batting_middle_two_df = sorted_batting_middle_two_df.query('runs >= 500').dropna()
print(len(filtered_sorted_batting_middle_two_df))
filtered_sorted_batting_middle_two_df

In [ ]:
# Reset index of filtered_sorted_batting_powerplay_df
filtered_sorted_batting_middle_two_df = filtered_sorted_batting_middle_two_df.reset_index(drop=True)
len(filtered_sorted_batting_middle_two_df)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Normalize the data
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(filtered_sorted_batting_middle_two_df[['runs', 'average', 'strike_rate']])

# Define weights for the composite score
runs_weight = 0.1
avg_weight = 0.5
strike_rate_weight = 0.7

# Create a new column for the composite score
filtered_sorted_batting_middle_two_df['performance'] = (
    runs_weight * normalized_data[:, 0] +
    avg_weight * normalized_data[:, 1] +
    strike_rate_weight * normalized_data[:, 2]
)

# Split the data into features and target variable
X = normalized_data
y = filtered_sorted_batting_middle_two_df["performance"]


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the model architecture
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(3,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=32)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

# Make predictions
predictions = model.predict(X_test)

In [ ]:
predictions

In [ ]:
len(predictions)

In [ ]:
output_players_performance = model.predict(X)
print(output_players_performance)

In [ ]:
len(output_players_performance)

In [ ]:
filtered_sorted_batting_middle_two_df

# Best Batters In the Middle Part 2

In [ ]:
import pandas as pd

# Create a new dataframe from the array
performance_df = pd.DataFrame(output_players_performance, columns=['Actual Performance'])

# Concatenate the two dataframes along the column axis
merged_filtered_sorted_batting_middle_two_df = pd.concat([filtered_sorted_batting_middle_two_df, performance_df], axis=1)
merged_filtered_sorted_batting_middle_two_df = merged_filtered_sorted_batting_middle_two_df.sort_values('Actual Performance', ascending=False)
merged_filtered_sorted_batting_middle_two_df = merged_filtered_sorted_batting_middle_two_df.reset_index(drop=True)
merged_filtered_sorted_batting_middle_two_df

# Batting Death Overs

In [ ]:
batting_death = []
for i in unique_batters:
    batting_death.append(batting_stats_overs(i, get_batting_stats(i), 16, 19))

In [ ]:
batting_death

In [ ]:
batting_death_df = pd.DataFrame(batting_death, columns=['Batter', 'runs', 'balls', 'Dismissals', 'average', 'strike_rate'])
batting_death_df

In [ ]:
sorted_batting_death_df = batting_death_df.sort_values('runs', ascending=False)
filtered_sorted_batting_death_df = sorted_batting_death_df.query('runs >= 300').dropna()
print(len(filtered_sorted_batting_death_df))
filtered_sorted_batting_death_df

In [ ]:
# Reset index of filtered_sorted_batting_powerplay_df
filtered_sorted_batting_death_df = filtered_sorted_batting_death_df.reset_index(drop=True)
len(filtered_sorted_batting_death_df)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Normalize the data
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(filtered_sorted_batting_death_df[['runs', 'average', 'strike_rate']])

# Define weights for the composite score
runs_weight = 0.1
avg_weight = 0.3
strike_rate_weight = 0.7

# Create a new column for the composite score
filtered_sorted_batting_death_df['performance'] = (
    runs_weight * normalized_data[:, 0] +
    avg_weight * normalized_data[:, 1] +
    strike_rate_weight * normalized_data[:, 2]
)

# Split the data into features and target variable
X = normalized_data
y = filtered_sorted_batting_death_df["performance"]


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Define the model architecture
model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(3,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=100, batch_size=32)

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

# Make predictions
predictions = model.predict(X_test)

In [ ]:
predictions

In [ ]:
len(predictions)

In [ ]:
output_players_performance = model.predict(X)
print(output_players_performance)

In [ ]:
len(output_players_performance)

In [ ]:
filtered_sorted_batting_death_df

# Best Batters In the Death

In [ ]:
import pandas as pd

# Create a new dataframe from the array
performance_df = pd.DataFrame(output_players_performance, columns=['Actual Performance'])

# Concatenate the two dataframes along the column axis
merged_filtered_sorted_batting_death_df = pd.concat([filtered_sorted_batting_death_df, performance_df], axis=1)
merged_filtered_sorted_batting_death_df = merged_filtered_sorted_batting_death_df.sort_values('Actual Performance', ascending=False)
merged_filtered_sorted_batting_death_df = merged_filtered_sorted_batting_death_df.reset_index(drop=True)
merged_filtered_sorted_batting_death_df